/******************* colors *******************/
/******************** font-sizes *******************/
.fs-0 {
  font-size: 0px;
}

.fs-1 {
  font-size: 1px;
}

.fs-4 {
  font-size: 4px;
}

.fs-8 {
  font-size: 8px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
}

.fs-20 {
  font-size: 20px;
}

.fs-21 {
  font-size: 21px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-25 {
  font-size: 25px;
}

.fs-27 {
  font-size: 27px;
}

.fs-28 {
  font-size: 28px;
}

.fs-29 {
  font-size: 29px;
}

.fs-30 {
  font-size: 30px;
}

.fs-32 {
  font-size: 32px;
}

.fs-34 {
  font-size: 34px;
}

.fs-36 {
  font-size: 36px;
}

.fs-38 {
  font-size: 38px;
}

.fs-40 {
  font-size: 40px;
}

.fs-42 {
  font-size: 42px;
}

.fs-50 {
  font-size: 50px;
}

.fs-62 {
  font-size: 62px;
}

/************************** spacing-classes ******************************/
.my-auto {
  margin: 0 auto;
}

.margin-1 {
  margin: 1px;
}

.margin-60 {
  margin: 60px;
}

.margin-0 {
  margin: 0px;
}

.margin-4 {
  margin: 4px;
}

.margin-8 {
  margin: 8px;
}

.margin-12 {
  margin: 12px;
}

.margin-16 {
  margin: 16px;
}

.margin-20 {
  margin: 20px;
}

.margin-24 {
  margin: 24px;
}

.margin-28 {
  margin: 28px;
}

.margin-32 {
  margin: 32px;
}

.margin-40 {
  margin: 40px;
}

.padding-1 {
  padding: 1px;
}

.padding-60 {
  padding: 60px;
}

.padding-0 {
  padding: 0px;
}

.padding-4 {
  padding: 4px;
}

.padding-8 {
  padding: 8px;
}

.padding-12 {
  padding: 12px;
}

.padding-16 {
  padding: 16px;
}

.padding-20 {
  padding: 20px;
}

.padding-24 {
  padding: 24px;
}

.padding-28 {
  padding: 28px;
}

.padding-32 {
  padding: 32px;
}

.padding-36 {
  padding: 36px;
}

.padding-40 {
  padding: 40px;
}

.mr-1 {
  margin-right: 1px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-0 {
  margin-right: 0px;
}

.mr-4 {
  margin-right: 4px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-28 {
  margin-right: 28px;
}

.mr-32 {
  margin-right: 32px;
}

.mr-40 {
  margin-right: 40px;
}

.mb-1 {
  margin-bottom: 1px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-1 {
  margin-bottom: 1px;
}

.ml-60 {
  margin-bottom: 60px;
}

.ml-0 {
  margin-left: 0px;
}

.ml-4 {
  margin-left: 4px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-12 {
  margin-left: 12px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-24 {
  margin-left: 24px;
}

.ml-28 {
  margin-left: 28px;
}

.ml-32 {
  margin-left: 32px;
}

.ml-40 {
  margin-left: 40px;
}

.mt-1 {
  margin-top: 1px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-68 {
  margin-top: 68px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-28 {
  margin-top: 28px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-40 {
  margin-top: 40px;
}

.m-auto {
  margin: 0 auto;
}

/*********************** position-classes *********************/
.p-rel {
  position: relative;
}

.p-abs {
  position: absolute;
}

.p-st {
  position: static;
}

.p-fx {
  position: fixed;
}

.p-sty {
  position: sticky;
}

/*********************** z-index-classes ***********************/
.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.z-5 {
  z-index: 5;
}

.z-6 {
  z-index: 6;
}

.z-7 {
  z-index: 7;
}

.z-8 {
  z-index: 8;
}

.z-9 {
  z-index: 9;
}

/************************ transitions ***********************/
.t-1 {
  transition: all 0.1s ease;
}

.t-2 {
  transition: all 0.2s ease;
}

.t-3 {
  transition: all 0.3s ease;
}

.t-4 {
  transition: all 0.4s ease;
}

.t-5 {
  transition: all 0.5s ease;
}

.t-6 {
  transition: all 0.6s ease;
}

.t-7 {
  transition: all 0.7s ease;
}

.t-8 {
  transition: all 0.8s ease;
}

.t-9 {
  transition: all 0.9s ease;
}

/************************ overflows ****************************/
.o-a {
  overflow: auto;
}

.o-h {
  overflow: hidden;
}

.o-s {
  overflow: scroll;
}

.o-v {
  overflow: visible;
}

.ox-a {
  overflow-x: auto;
}

.ox-h {
  overflow-x: hidden;
}

.ox-s {
  overflow-x: scroll;
}

.ox-v {
  overflow-x: visible;
}

.oy-a {
  overflow-y: auto;
}

.oy-h {
  overflow-y: hidden;
}

.oy-s {
  overflow-y: scroll;
}

.oy-v {
  overflow-y: visible;
}

/************************** displays ***************************/
.d-n {
  display: none;
}

.d-i {
  display: inline;
}

.d-b {
  display: block;
}

.d-ib {
  display: inline-block;
}

/************************* border-radius *************************/
.br-100 {
  border-radius: 100%;
}

.br-50 {
  border-radius: 50%;
}

.tx-center {
  text-align: center;
}

.tx-end {
  text-align: end;
}

.tx-left {
  text-align: left;
}

.tx-start {
  text-align: start;
}

.full-vh {
  height: 100vh;
}

.bx-border-box {
  box-sizing: border-box;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.w-fc {
  width: -moz-fit-content;
  width: fit-content;
}

.cp {
  cursor: pointer;
}

.tx-dec-none {
  text-decoration: none;
}

/************************** breakpoints **************************/
@media screen and (min-width: 1721px) {
  .wds {
    width: 1650px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1720px) {
  .wds {
    width: 1350px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .wds {
    width: 1050px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .wds {
    width: 940px;
  }
}
@media screen and (min-width: 700px) and (max-width: 992px) {
  .wds {
    width: 700px;
  }
}
@media screen and (max-width: 768px) {
  .wds {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }
}

/************************** triangles **************************/
@media screen and (max-width: 1720px) {
  .tgl-wds {
    width: 1730px;
    border-right-width: 865px;
    border-left-width: 865px;
  }
}
@media screen and (max-width: 1440px) {
  .tgl-wds {
    width: 1450px;
    border-right-width: 725px;
    border-left-width: 725px;
  }
}
@media screen and (max-width: 1200px) {
  .tgl-wds {
    width: 1210px;
    border-right-width: 605px;
    border-left-width: 605px;
  }
}

* {
  font-family: "Poppins", sans-serif;
}

.section-title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  background: linear-gradient(270.13deg, #ff623f 19.37%, #bc1ae4 91.6%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-heading {
  font-size: 48px;
  line-height: 60px;
  font-weight: 600;
  color: #202323;
}
@media screen and (max-width: 1440px) {
  .section-heading {
    font-size: 40px;
    line-height: 46px;
    font-weight: 600;
    color: #202323;
  }
}

.section-content {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  color: #707070;
}

.oe-upper-triangle {
  width: 1930px;
  height: 96px;
  position: absolute;
  top: -96px;
  border-top: 48px solid transparent;
  border-right: 965px solid #f9f9f9;
  border-bottom: 48px solid #f9f9f9;
  border-left: 965px solid transparent;
}

.primary-button {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 48px;
  padding: 0 20px;
  background-color: #136dfb;
  border: none;
  box-sizing: border-box;
  border-radius: 24px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
  transition: all 0.3s ease;
  box-shadow: 0px 15px 60px 0px rgba(10, 81, 201, 0.6);
}
@media screen and (max-width: 1200px) {
  .primary-button {
    height: 42px;
    font-size: 14px;
  }
}
.primary-button:hover {
  box-shadow: 0px 15px 60px 0px rgba(10, 81, 201, 0.6);
  background-color: #0041ae;
}

.outer-box .header-wrapper {
  border-bottom: 1px solid #dedede;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 40;
}
.outer-box .header-wrapper .contact-us {
  background-color: #0a51c9;
  box-shadow: none;
}
.outer-box .header-wrapper .contact-us:hover {
  background-color: #0041ae;
}
.outer-box .header-wrapper .header {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .outer-box .header-wrapper .header .burger-btn {
    display: block !important;
  }
}
.outer-box .header-wrapper .header .navbar {
  display: flex;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 46px;
}
@media screen and (max-width: 1200px) {
  .outer-box .header-wrapper .header .navbar {
    gap: 35px;
  }
}
@media screen and (max-width: 992px) {
  .outer-box .header-wrapper .header .navbar {
    display: none;
  }
}
.outer-box .header-wrapper .header .navbar .nav-items {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #707070;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .outer-box .header-wrapper .header .navbar .nav-items {
    font-size: 14px;
  }
}
.outer-box .header-wrapper .header .navbar .nav-items:hover, .outer-box .header-wrapper .header .navbar .nav-items.active {
  color: #136dfb;
}
.outer-box .header-wrapper .header .burger-btn {
  display: none;
}
.outer-box .ui-banner .ui-banner-blur-circle {
  background-color: #136dfb;
  filter: blur(195px);
  width: 325px;
  height: 325px;
  position: absolute;
  top: 225px;
  left: 50%;
  transform: translateX(-50%);
}
.outer-box .ui-banner .banner-girl-image {
  position: absolute;
  top: 135px;
  left: 50%;
  transform: translateX(-50%);
}
.outer-box .ui-banner .user-box {
  border-radius: 8px;
  border: 1px solid rgba(19, 109, 251, 0.0509803922);
  -webkit-backdrop-filter: blur(150px);
          backdrop-filter: blur(150px);
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.2);
  background: linear-gradient(178.83deg, rgba(255, 255, 255, 0.6) 2.73%, rgba(249, 249, 249, 0.6) 97.04%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.outer-box .ui-banner .user-box.user-interface {
  position: absolute;
  top: 325px;
  left: 340px;
}
@media screen and (max-width: 1720px) {
  .outer-box .ui-banner .user-box.user-interface {
    position: absolute;
    top: 310px;
    left: 370px;
  }
}
@media screen and (max-width: 1440px) {
  .outer-box .ui-banner .user-box.user-interface {
    position: absolute;
    top: 330px;
    left: 240px;
  }
}
.outer-box .ui-banner .user-box.user-exp {
  position: absolute;
  top: 165px;
  right: 347px;
}
@media screen and (max-width: 1720px) {
  .outer-box .ui-banner .user-box.user-exp {
    position: absolute;
    top: 155px;
    right: 410px;
  }
}
@media screen and (max-width: 1440px) {
  .outer-box .ui-banner .user-box.user-exp {
    position: absolute;
    top: 155px;
    right: 290px;
  }
}
.outer-box .ui-banner .user-box .icon {
  width: 47px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #136dfb;
  border-radius: 8px;
}
.outer-box .ui-banner .user-box span {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #202323;
}
.outer-box .ui-banner .line-design {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.outer-box .ui-banner .line-design.guided {
  position: absolute;
  top: 80px;
  right: -70px;
}
@media screen and (max-width: 1440px) {
  .outer-box .ui-banner .line-design.guided {
    position: absolute;
    top: 80px;
    right: -150px;
  }
}
.outer-box .ui-banner .line-design.guided .guided-line {
  top: 85px;
  right: 43px;
}
@media screen and (max-width: 1440px) {
  .outer-box .ui-banner .line-design.guided .guided-line {
    top: 85px;
    right: -80px;
  }
}
.outer-box .ui-banner .line-design.effective-nav {
  position: absolute;
  top: 165px;
  left: -75px;
}
@media screen and (max-width: 1440px) {
  .outer-box .ui-banner .line-design.effective-nav {
    position: absolute;
    top: 165px;
    left: -150px;
  }
}
.outer-box .ui-banner .line-design.effective-nav .nav-line {
  top: 80px;
  left: 80px;
}
@media screen and (max-width: 1440px) {
  .outer-box .ui-banner .line-design.effective-nav .nav-line {
    top: 100px;
    left: -42px;
  }
}
.outer-box .ui-banner .line-design span {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #d9d9d9;
}
.outer-box .ui-banner .line-design .logo-box {
  border: 1px solid #e5e6e8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 61px;
  height: 61px;
  border-radius: 12px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: linear-gradient(178.83deg, rgba(255, 255, 255, 0.6) 2.73%, rgba(249, 249, 249, 0.6) 97.04%);
}
.outer-box .ui-banner .ui-banner-details {
  background: linear-gradient(178.83deg, rgba(255, 255, 255, 0.6) 2.73%, rgba(249, 249, 249, 0.6) 97.04%);
  width: 100%;
  height: calc(100vh - 480px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}
.outer-box .ui-banner .ui-banner-details .banner-heading {
  width: 970px;
  margin-bottom: 16px;
  font-size: 58px;
  line-height: 86.7px;
  font-weight: 700;
  color: #202323;
}
@media screen and (max-width: 1200px) {
  .outer-box .ui-banner .ui-banner-details .banner-heading {
    font-size: 36px;
    line-height: 48.7px;
    font-weight: 700;
    color: #202323;
    width: 840px;
  }
}
.outer-box .ui-banner .ui-banner-details .banner-content {
  width: 970px;
  margin-bottom: 28px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #707070;
}
.outer-box .why-choose-us-wrapper {
  margin-bottom: 120px;
  padding: 120px 0;
  background-color: #136dfb;
}
.outer-box .why-choose-us-wrapper .section-title-text {
  font-size: 48px;
  line-height: 40px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 20px;
}
.outer-box .why-choose-us-wrapper .main-content {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  width: 970px;
}
@media screen and (max-width: 992px) {
  .outer-box .why-choose-us-wrapper .main-content {
    width: 700px;
  }
}
@media screen and (max-width: 768px) {
  .outer-box .why-choose-us-wrapper .main-content {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }
}
.outer-box .why-choose-us-wrapper .boxes-wrapper {
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  gap: 21px;
  margin-top: 40px;
}
@media screen and (max-width: 1200px) {
  .outer-box .why-choose-us-wrapper .boxes-wrapper {
    grid-template-columns: repeat(3, auto);
  }
}
@media screen and (max-width: 992px) {
  .outer-box .why-choose-us-wrapper .boxes-wrapper {
    grid-template-columns: repeat(2, auto);
  }
}
@media screen and (max-width: 576px) {
  .outer-box .why-choose-us-wrapper .boxes-wrapper {
    grid-template-columns: repeat(1, auto);
  }
}
.outer-box .why-choose-us-wrapper .boxes-wrapper .box {
  width: 397px;
  height: 240px;
  background-color: #ffffff;
  border-radius: 15px;
}
@media screen and (max-width: 1720px) {
  .outer-box .why-choose-us-wrapper .boxes-wrapper .box {
    width: 321px;
    height: 240px;
  }
}
@media screen and (max-width: 1440px) {
  .outer-box .why-choose-us-wrapper .boxes-wrapper .box {
    width: 247px;
    height: 240px;
    padding: 14px;
  }
}
@media screen and (max-width: 1200px) {
  .outer-box .why-choose-us-wrapper .boxes-wrapper .box {
    width: 299px;
    height: 240px;
  }
}
@media screen and (max-width: 992px) {
  .outer-box .why-choose-us-wrapper .boxes-wrapper .box {
    width: 339px;
    height: 240px;
  }
}
@media screen and (max-width: 768px) {
  .outer-box .why-choose-us-wrapper .boxes-wrapper .box {
    width: 100%;
    height: auto;
  }
}
.outer-box .why-choose-us-wrapper .boxes-wrapper .box .upper-part {
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
@media screen and (max-width: 1440px) {
  .outer-box .why-choose-us-wrapper .boxes-wrapper .box .upper-part {
    margin-bottom: 10px;
    gap: 12px;
  }
}
.outer-box .why-choose-us-wrapper .boxes-wrapper .box .upper-part .logo {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
@media screen and (max-width: 1440px) {
  .outer-box .why-choose-us-wrapper .boxes-wrapper .box .upper-part .logo {
    border-radius: 12px;
    width: 44px;
    height: 44px;
  }
}
@media screen and (max-width: 1440px) {
  .outer-box .why-choose-us-wrapper .boxes-wrapper .box .upper-part .logo img {
    width: 30px;
  }
}
.outer-box .why-choose-us-wrapper .boxes-wrapper .box .upper-part .logo.logo-1 {
  background-color: #136DFB;
  box-shadow: 0px 10px 60px 0px rgba(19, 109, 251, 0.4);
}
.outer-box .why-choose-us-wrapper .boxes-wrapper .box .upper-part .logo.logo-2 {
  background-color: #EB7500;
  box-shadow: 0px 10px 60px 0px rgba(235, 117, 0, 0.4);
}
.outer-box .why-choose-us-wrapper .boxes-wrapper .box .upper-part .logo.logo-3 {
  background-color: #BB64FF;
  box-shadow: 0px 10px 60px 0px rgba(187, 100, 255, 0.4);
}
.outer-box .why-choose-us-wrapper .boxes-wrapper .box .upper-part .logo.logo-4 {
  background-color: #F2416B;
  box-shadow: 0px 10px 60px 0px rgba(242, 65, 107, 0.4);
}
.outer-box .why-choose-us-wrapper .boxes-wrapper .box .upper-part .logo.logo-5 {
  background-color: #BB64FF;
  box-shadow: 0px 10px 60px 0px rgba(187, 100, 255, 0.4);
}
.outer-box .why-choose-us-wrapper .boxes-wrapper .box .upper-part .logo.logo-6 {
  background-color: #F2416B;
  box-shadow: 0px 10px 60px 0px rgba(242, 65, 107, 0.4);
}
.outer-box .why-choose-us-wrapper .boxes-wrapper .box .upper-part .logo.logo-7 {
  background-color: #136DFB;
  box-shadow: 0px 10px 60px 0px rgba(19, 109, 251, 0.4);
}
.outer-box .why-choose-us-wrapper .boxes-wrapper .box .upper-part .logo.logo-8 {
  background-color: #EB7500;
  box-shadow: 0px 10px 60px 0px rgba(235, 117, 0, 0.4);
}
.outer-box .why-choose-us-wrapper .boxes-wrapper .box .upper-part .box-heading {
  width: calc(100% - 60px);
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #202323;
}
@media screen and (max-width: 1720px) {
  .outer-box .why-choose-us-wrapper .boxes-wrapper .box .upper-part .box-heading {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #202323;
  }
}
@media screen and (max-width: 1440px) {
  .outer-box .why-choose-us-wrapper .boxes-wrapper .box .upper-part .box-heading {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #202323;
  }
}
.outer-box .vision-to-life {
  background-image: url("../assets/images/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background-position: right;
  padding: 0 90px;
  height: 460px;
  border-radius: 30px;
  margin-bottom: 200px;
  border: 1px solid #E8E8E8;
}
@media screen and (max-width: 1720px) {
  .outer-box .vision-to-life {
    height: 380px;
  }
}
.outer-box .vision-to-life .content {
  width: 838px;
}
.outer-box .vision-to-life .content .vision {
  color: #F2416B;
}
.outer-box .vision-to-life .content .start {
  color: #136dfb;
}
.outer-box .services-we-offer {
  margin-bottom: 120px;
}
.outer-box .services-we-offer .boxes-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 17px;
}
.outer-box .services-we-offer .boxes-wrapper .box {
  width: calc(25% - 13px);
  height: 300px;
  border: 1px solid #E8E8E8;
  box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.0509803922);
  background-color: #ffffff;
  border-radius: 16px;
}
@media screen and (max-width: 1440px) {
  .outer-box .services-we-offer .boxes-wrapper .box {
    width: calc(25% - 13px);
    height: 340px;
  }
}
@media screen and (max-width: 1200px) {
  .outer-box .services-we-offer .boxes-wrapper .box {
    width: calc(33% - 9px);
    height: 314px;
  }
}
@media screen and (max-width: 992px) {
  .outer-box .services-we-offer .boxes-wrapper .box {
    width: calc(50% - 9px);
    height: 285px;
  }
}
@media screen and (max-width: 768px) {
  .outer-box .services-we-offer .boxes-wrapper .box {
    width: 100%;
    height: auto;
  }
}
.outer-box .services-we-offer .boxes-wrapper .box .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  width: 60px;
  height: 60px;
  position: absolute;
  top: -30px;
  left: 25px;
}
.outer-box .services-we-offer .boxes-wrapper .box .logo.logo-1 {
  background-color: #136DFB;
  box-shadow: 0px 10px 60px 0px rgba(19, 109, 251, 0.4);
}
.outer-box .services-we-offer .boxes-wrapper .box .logo.logo-2 {
  background-color: #EB7500;
  box-shadow: 0px 10px 60px 0px rgba(235, 117, 0, 0.4);
}
.outer-box .services-we-offer .boxes-wrapper .box .logo.logo-3 {
  background-color: #BB64FF;
  box-shadow: 0px 10px 60px 0px rgba(187, 100, 255, 0.4);
}
.outer-box .services-we-offer .boxes-wrapper .box .logo.logo-4 {
  background-color: #F2416B;
  box-shadow: 0px 10px 60px 0px rgba(242, 65, 107, 0.4);
}
.outer-box .services-we-offer .boxes-wrapper .box .logo.logo-5 {
  background-color: #BB64FF;
  box-shadow: 0px 10px 60px 0px rgba(187, 100, 255, 0.4);
}
.outer-box .services-we-offer .boxes-wrapper .box .logo.logo-6 {
  background-color: #F2416B;
  box-shadow: 0px 10px 60px 0px rgba(242, 65, 107, 0.4);
}
.outer-box .services-we-offer .boxes-wrapper .box .logo.logo-7 {
  background-color: #136DFB;
  box-shadow: 0px 10px 60px 0px rgba(19, 109, 251, 0.4);
}
.outer-box .services-we-offer .boxes-wrapper .box .number {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  color: #EDEEED;
  position: absolute;
  top: 12px;
  right: 12px;
}
.outer-box .services-we-offer .boxes-wrapper .box .box-heading {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: #202323;
}
.outer-box .services-we-offer .boxes-wrapper .box .box-content {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #707070;
}
.outer-box .technos-wrapper {
  background-color: #f9f9f9;
  padding: 120px 0;
}
.outer-box .technos-wrapper .technos .boxes-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.outer-box .technos-wrapper .technos .boxes-wrapper .box {
  width: calc(25% - 15px);
  height: 325px;
  border: 1px solid #E8E8E8;
  border-radius: 16px;
  background-color: #ffffff;
}
@media screen and (max-width: 1720px) {
  .outer-box .technos-wrapper .technos .boxes-wrapper .box {
    width: calc(25% - 15px);
    height: 340px;
  }
}
@media screen and (max-width: 1440px) {
  .outer-box .technos-wrapper .technos .boxes-wrapper .box {
    width: calc(33% - 15px);
    height: 340px;
  }
}
@media screen and (max-width: 992px) {
  .outer-box .technos-wrapper .technos .boxes-wrapper .box {
    width: calc(50% - 15px);
    height: 340px;
  }
}
@media screen and (max-width: 768px) {
  .outer-box .technos-wrapper .technos .boxes-wrapper .box {
    width: calc(100% - 15px);
    height: auto;
  }
}
.outer-box .technos-wrapper .technos .boxes-wrapper .box .upper-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.outer-box .technos-wrapper .technos .boxes-wrapper .box .upper-part .logo {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  background-color: #136dfb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.outer-box .technos-wrapper .technos .boxes-wrapper .box .tech {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}
.outer-box .technos-wrapper .technos .boxes-wrapper .box .tech span {
  font-size: 14px;
  font-weight: 600;
  color: #136dfb;
}
.outer-box .invest-in-software {
  margin-top: 120px;
  margin-bottom: 120px;
}
.outer-box .invest-in-software .boxes-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 17px;
}
.outer-box .invest-in-software .boxes-wrapper .box {
  width: calc(25% - 13px);
  height: 216px;
  border: 1px solid #E8E8E8;
  box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.0509803922);
  background-color: #ffffff;
  border-radius: 16px;
}
@media screen and (max-width: 1440px) {
  .outer-box .invest-in-software .boxes-wrapper .box {
    width: calc(25% - 13px);
    height: 240px;
  }
}
@media screen and (max-width: 1200px) {
  .outer-box .invest-in-software .boxes-wrapper .box {
    width: calc(33% - 9px);
    height: 216px;
  }
}
@media screen and (max-width: 992px) {
  .outer-box .invest-in-software .boxes-wrapper .box {
    width: calc(50% - 9px);
    height: 216px;
  }
}
@media screen and (max-width: 768px) {
  .outer-box .invest-in-software .boxes-wrapper .box {
    width: 100%;
    height: auto;
  }
}
.outer-box .invest-in-software .boxes-wrapper .box:hover {
  border: 0;
}
.outer-box .invest-in-software .boxes-wrapper .box:hover .logo {
  background-color: #136dfb;
}
.outer-box .invest-in-software .boxes-wrapper .box .upper-part {
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
@media screen and (max-width: 1440px) {
  .outer-box .invest-in-software .boxes-wrapper .box .upper-part {
    margin-bottom: 10px;
    gap: 12px;
  }
}
.outer-box .invest-in-software .boxes-wrapper .box .upper-part .logo {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: #EBEBEB;
}
@media screen and (max-width: 1440px) {
  .outer-box .invest-in-software .boxes-wrapper .box .upper-part .logo {
    border-radius: 12px;
    width: 44px;
    height: 44px;
  }
}
@media screen and (max-width: 1440px) {
  .outer-box .invest-in-software .boxes-wrapper .box .upper-part .logo img {
    width: 30px;
  }
}
.outer-box .invest-in-software .boxes-wrapper .box .upper-part .box-heading {
  width: calc(100% - 60px);
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #202323;
}
@media screen and (max-width: 1720px) {
  .outer-box .invest-in-software .boxes-wrapper .box .upper-part .box-heading {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #202323;
  }
}
@media screen and (max-width: 1440px) {
  .outer-box .invest-in-software .boxes-wrapper .box .upper-part .box-heading {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #202323;
  }
}/*# sourceMappingURL=custom-sol.css.map */