@import "./foundation.scss";
@import "./mixins.scss";

* {
  font-family: "Poppins", sans-serif;
}

.outer-box{
  .ui-banner {
    .ui-banner-details {
      .banner-heading {
        width: 1188px;
      }
      .banner-content {
        width: 649px;
      }
    }
  }

      .why-choose-us-wrapper{
        margin-bottom: 120px;
        padding: 120px 0;
        background-color: $primary-color;
        .section-title-text{
            @include typography(48,40,600,$secondry-color);
            margin-bottom: 20px;
        }
        .main-content{
            @include typography(16,24,400,$secondry-color);
            width: 970px;
            @include max-width(992){
                width: 700px;
            }
            @include max-width(768){
                width: 100%;
                padding: 0 15px;
                box-sizing: border-box;
            }
        }
        .boxes-wrapper{
            border-radius: 30px;
            display: grid;
            grid-template-columns: repeat(4, auto);
            justify-content: space-between;
            gap: 21px;
            margin-top: 40px;
            @include max-width(1200){
            grid-template-columns: repeat(3, auto);
            }
            @include max-width(992){
              grid-template-columns: repeat(2, auto);
              }
              @include max-width(576){
                grid-template-columns: repeat(1, auto);
                }
            .box{
                @include dimensions(240,397);
                @include max-width(1720){
                @include dimensions(240,321);
                }
                @include max-width(1440){
                  @include dimensions(240,247);
                  padding: 14px;
                }
                @include max-width(1200){
                  @include dimensions(240,299);
                }
                @include max-width(992){
                  @include dimensions(240,339);
                }
                @include max-width(768){
                  @include dimensions(auto,100%);
                }
                background-color: $secondry-color;
                border-radius: 15px;
                .upper-part{
                    margin-bottom: 18px;
                    @include flex-box(row,na,center,na,15);
                    @include max-width(1440){
                        margin-bottom: 10px;
                        gap: 12px;
                    }
                    .logo{
                        @include dimensions(60,60);
                        @include flex-box(na,center,center,na,na);
                        border-radius: 16px;
                        @include max-width(1440){
                          border-radius: 12px;
                          @include dimensions(44,44);
                        }
                        img{
                          @include max-width(1440){
                            width: 30px;
                          }
                        }
                        &.logo-1{
                            background-color: $ai-ml-page-remarkable-benefits-logo-1-bg-color;
                            box-shadow: $ai-ml-page-remarkable-benefits-logo-1-box-shadow;
                        }
                        &.logo-2{
                            background-color: $ai-ml-page-remarkable-benefits-logo-2-bg-color;
                            box-shadow: $ai-ml-page-remarkable-benefits-logo-2-box-shadow;
                        }
                        &.logo-3{
                            background-color: $ai-ml-page-remarkable-benefits-logo-3-bg-color;
                            box-shadow: $ai-ml-page-remarkable-benefits-logo-3-box-shadow;
                        }
                        &.logo-4{
                            background-color: $ai-ml-page-remarkable-benefits-logo-4-bg-color;
                            box-shadow: $ai-ml-page-remarkable-benefits-logo-4-box-shadow;
                        }
                        &.logo-5{
                            background-color: $ai-ml-page-remarkable-benefits-logo-5-bg-color;
                            box-shadow: $ai-ml-page-remarkable-benefits-logo-5-box-shadow;
                        }
                        &.logo-6{
                            background-color: $ai-ml-page-remarkable-benefits-logo-6-bg-color;
                            box-shadow: $ai-ml-page-remarkable-benefits-logo-6-box-shadow;
                        }
                        &.logo-7{
                            background-color: $ai-ml-page-remarkable-benefits-logo-7-bg-color;
                            box-shadow: $ai-ml-page-remarkable-benefits-logo-7-box-shadow;
                        }
                        &.logo-8{
                            background-color: $ai-ml-page-remarkable-benefits-logo-8-bg-color;
                            box-shadow: $ai-ml-page-remarkable-benefits-logo-8-box-shadow;
                        }
                    }
                    .box-heading{
                        width: calc(100% - 60px);
                        @include typography(24,30,600,$primary-text-color);
                        @include max-width(1720){
                        @include typography(20,24,600,$primary-text-color);
                        }
                        @include max-width(1440){
                          @include typography(16,20,600,$primary-text-color);
                        }
                    }
                }
            }
          }
      }

      .vision-to-life{
        background-image: url("../assets/images/bg-image.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        @include flex-box(row,start,center,na,na);
        background-position: right;
        padding: 0 90px;
        height: 460px;
        border-radius: 30px;
        margin-bottom: 200px;
        border: 1px solid #E8E8E8;
        @include max-width(1720){
          height: 380px;
        }
        .content{
            width: 838px;
            .vision{
                color: $ai-ml-page-remarkable-benefits-logo-4-bg-color;
            }
            .start{
                color: $primary-color;
            }
        }
      }

      .services-we-offer{
        margin-bottom: 120px;
        .boxes-wrapper{
            @include flex-box(row,center,center,wrap,17);
            .box{
              @include dimensions(300,calc(25% - 13px));
              border: 1px solid #E8E8E8;
              box-shadow: 0px 20px 80px 0px #0000000D;
              background-color: $secondry-color;
              border-radius: 16px;
              @include max-width(1440){
                @include dimensions(340,calc(25% - 13px));
              }
              @include max-width(1200){
                @include dimensions(314,calc(33% - 9px));
              }
              @include max-width(992){
                @include dimensions(285,calc(50% - 9px));
              }
              @include max-width(768){
                @include dimensions(auto,100%);
              }
              .logo{
                @include flex-box(row,center,center,na,na);
                border-radius: 16px;
                @include dimensions(60,60);
                @include absolute(-30,na,na,25);
                &.logo-1{
                    background-color: $ai-ml-page-remarkable-benefits-logo-1-bg-color;
                    box-shadow: $ai-ml-page-remarkable-benefits-logo-1-box-shadow;
                }
                &.logo-2{
                    background-color: $ai-ml-page-remarkable-benefits-logo-2-bg-color;
                    box-shadow: $ai-ml-page-remarkable-benefits-logo-2-box-shadow;
                }
                &.logo-3{
                    background-color: $ai-ml-page-remarkable-benefits-logo-3-bg-color;
                    box-shadow: $ai-ml-page-remarkable-benefits-logo-3-box-shadow;
                }
                &.logo-4{
                    background-color: $ai-ml-page-remarkable-benefits-logo-4-bg-color;
                    box-shadow: $ai-ml-page-remarkable-benefits-logo-4-box-shadow;
                }
                &.logo-5{
                    background-color: $ai-ml-page-remarkable-benefits-logo-5-bg-color;
                    box-shadow: $ai-ml-page-remarkable-benefits-logo-5-box-shadow;
                }
                &.logo-6{
                    background-color: $ai-ml-page-remarkable-benefits-logo-6-bg-color;
                    box-shadow: $ai-ml-page-remarkable-benefits-logo-6-box-shadow;
                }
                &.logo-7{
                    background-color: $ai-ml-page-remarkable-benefits-logo-7-bg-color;
                    box-shadow: $ai-ml-page-remarkable-benefits-logo-7-box-shadow;
                }
              }
              .number{
                @include typography(24,24,600,$light-text);
                @include absolute(12,12,na,na);
              }
              .box-heading{
                @include typography(24,36,600,$primary-text-color);
              }
              .box-content{
                @include typography(14,26,400,$secondry-text-color);
              }
            }
        }
      }

      .technos-wrapper{
        background-color: $primary-bg-color;
        padding: 120px 0;
        .technos{
            .boxes-wrapper{
                @include flex-box(row,center,center,wrap,20);
                .box{
                    @include dimensions(325,calc(25% - 15px));
                    @include max-width(1720){
                    @include dimensions(340,calc(25% - 15px));
                    }
                    @include max-width(1440){
                      @include dimensions(340,calc(33% - 15px));
                    }
                    @include max-width(992){
                      @include dimensions(340,calc(50% - 15px));
                    }
                    @include max-width(768){
                      @include dimensions(auto,calc(100% - 15px));
                    }
                    border: 1px solid #E8E8E8;
                    border-radius: 16px;
                    background-color: $secondry-color;
                    .upper-part{
                        @include flex-box(row,na,center,na,10);
                        .logo{
                            @include dimensions(50,50);
                            border-radius: 12px;
                            background-color: $primary-color;
                            @include flex-box(row,center,center,na,na);
                        }
                    }
                    .tech{
                        @include flex-box(row,na,center,na,10);
                        margin-bottom: 16px;
                        span{
                            @include typography(14,na,600,$primary-color);
                        }
                    }
                }
            }
        }
      }

      .invest-in-software{
        margin-top: 120px;
        margin-bottom: 120px;
        .boxes-wrapper{
          @include flex-box(row,center,center,wrap,17);
          .box{
            @include dimensions(216,calc(25% - 13px));
            border: 1px solid #E8E8E8;
            box-shadow: 0px 20px 80px 0px #0000000D;
            background-color: $secondry-color;
            border-radius: 16px;
            @include max-width(1440){
              @include dimensions(240,calc(25% - 13px));
            }
            @include max-width(1200){
              @include dimensions(216,calc(33% - 9px));
            }
            @include max-width(992){
              @include dimensions(216,calc(50% - 9px));
            }
            @include max-width(768){
              @include dimensions(auto,100%);
            }
            &:hover{
              border: 0;
              .logo{
                background-color: $primary-color;
              }
            }
              .upper-part{
                  margin-bottom: 18px;
                  @include flex-box(row,na,center,na,15);
                  @include max-width(1440){
                      margin-bottom: 10px;
                      gap: 12px;
                  }
                  .logo{
                      @include dimensions(60,60);
                      @include flex-box(na,center,center,na,na);
                      border-radius: 16px;
                      background-color: #EBEBEB;
                      @include max-width(1440){
                        border-radius: 12px;
                        @include dimensions(44,44);
                      }
                      img{
                        @include max-width(1440){
                          width: 30px;
                        }
                      }
                  }
                  .box-heading{
                      width: calc(100% - 60px);
                      @include typography(24,30,600,$primary-text-color);
                      @include max-width(1720){
                      @include typography(20,24,600,$primary-text-color);
                      }
                      @include max-width(1440){
                        @include typography(16,20,600,$primary-text-color);
                      }
                  }
              }
          }
        }
      }
}