@import "./foundation.scss";
@import "./mixins.scss";

* {
  font-family: "Poppins", sans-serif;
}

.section-title {
    @include typography(24, 36, 600, na);
    background: $title-text-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .section-heading {
    @include typography(48, 60, 600, $primary-text-color);
    @include max-width(1440) {
      @include typography(40, 46, 600, $primary-text-color);
    }
    @include max-width(1094) {
      @include typography(32, 40, 600, $primary-text-color);
    }
    @include max-width(480) {
      @include typography(28, 32, 600, $primary-text-color);
    }
  }

  .section-content{
    @include typography(14,25,400,$secondry-text-color);
    @include max-width(480) {
      @include typography(12, 18, 400, $secondry-text-color);
    }
  }
  
  .oe-upper-triangle {
    @include dimensions(96, 1930);
    @include absolute(-96, na, na, na);
    border-top: 48px solid transparent;
    border-right: 965px solid $primary-bg-color;
    border-bottom: 48px solid $primary-bg-color;
    border-left: 965px solid transparent;
  }

.primary-button {
    width: fit-content;
    @include btn(48, 20, 24, $primary-color);
    @include typography(16, 24, 500, $secondry-color);
    transition: all 0.3s ease;
    @include max-width(1200) {
      height: 42px;
      font-size: 14px;
    }
    @include max-width(480) {
      font-size: 12px;
    }
    box-shadow: $primary-box-shadow;
    &:hover {
      box-shadow: $primary-box-shadow;
      background-color: $primary-hover-color;
    }
}

.outer-box{
    .header-wrapper {
        border-bottom: 1px solid $header-border-color;
        background-color: $header-bg-color;
        backdrop-filter: blur(10px);
        z-index: 40;
        .contact-us {
          background-color: $learn-more-hover-color;
          box-shadow: none;
          &:hover {
            background-color: $primary-hover-color;
          }
        }
        .header {
          @include dimensions(80, na);
          @include flex-box(row, space-between, center, "na", "na");
          .burger-btn {
            @include max-width(992) {
              display: block !important;
            }
          }
          .navbar {
            @include navbar(46);
            @include max-width(1200) {
              gap: 35px;
            }
            @include max-width(992) {
              display: none;
            }
            .nav-items {
              @include nav-items(16, 24, 400, $secondry-text-color);
              @include max-width(1200) {
                font-size: 14px;
              }
              &:hover,
              &.active {
                color: $primary-color;
              }
            }
          }
          .burger-btn {
            display: none;
          }
        }
    }

    .ui-banner {
    .ui-banner-blur-circle {
        background-color: $primary-color;
        filter: blur(195px);
        @include dimensions(325, 325);
        @include absolute(225, na, na, 50%);
        transform: translateX(-50%);
    }
    .banner-girl-image {
        @include absolute(135, na, na, 50%);
        transform: translateX(-50%);
        width: auto;
    }
    .user-box {
        border-radius: 8px;
        border: 1px solid #136dfb0d;
        backdrop-filter: blur(150px);
        box-shadow: 0px 30px 60px 0px #00000033;
        background: linear-gradient(
        178.83deg,
        rgba(255, 255, 255, 0.6) 2.73%,
        rgba(249, 249, 249, 0.6) 97.04%
        );
        @include flex-box(row, center, center, na, 10);
        &.user-interface {
        @include absolute(325, na, na, 340);
        @include max-width(1720){
            @include absolute(310, na, na, 370);
        }
        @include max-width(1440){
            @include absolute(330, na, na, 240);
        }
        }
        &.user-exp {
        @include absolute(324, 347, na, na);
        @include max-width(1720){
            @include absolute(155, 410, na, na);
        }
        @include max-width(1440){
            @include absolute(155, 290, na, na);
        }
        }
        .icon {
        @include dimensions(47, 47);
        @include flex-box(na, center, center, na, na);
        background-color: $primary-color;
        border-radius: 8px;
        }
        span {
        @include typography(16, 24, 600, $primary-text-color);
        }
    }
    .line-design {
        @include flex-box(column, center, center, na, 15);
        &.guided {
        @include absolute(140, -70, na, na);
        @include max-width(1440){
        @include absolute(80, -150, na, na);
        }
        .guided-line {
            top: 85px;
            right: 43px;
            @include max-width(1440){
            top: 85px;
            right: -80px;
            }
        }
        }
        &.effective-nav {
        @include absolute(165, na, na, -75);
        @include max-width(1440){
            @include absolute(165,na,na,-150);
        }
        .nav-line {
            top: 80px;
            left: 80px;
            @include max-width(1440){
            top: 100px;
            left: -42px;
            }
        }
        }
        span {
        @include typography(16, 24, 600, #d9d9d9);
        }
        .logo-box {
        border: 1px solid #e5e6e8;
        @include flex-box(na, center, center, na, na);
        @include dimensions(61, 61);
        border-radius: 12px;
        backdrop-filter: blur(10px);
        background: linear-gradient(
            178.83deg,
            rgba(255, 255, 255, 0.6) 2.73%,
            rgba(249, 249, 249, 0.6) 97.04%
        );
        }
    }
    .ui-banner-details {
        background: linear-gradient(
        178.83deg,
        rgba(255, 255, 255, 0.6) 2.73%,
        rgba(249, 249, 249, 0.6) 97.04%
        );
        @include dimensions(calc(100vh - 510px),100%);
        @include flex-box(column, center, center, na, na);
        @include absolute(na, 0, 0, 0);
        backdrop-filter: blur(30px);
        .banner-heading {
        margin-bottom: 16px;
        text-transform: uppercase;
        width: 50%;
        @include typography(60, 86.7, 700, $primary-text-color);
        @include max-width(1700) {
          @include typography(55, 68.7, 700, $primary-text-color);
          
      }
        @include max-width(1200) {
            @include typography(36, 48.7, 700, $primary-text-color);
            
        }
        @include max-width(780) {
          @include typography(32, 41.7, 700, $primary-text-color);
         
      }
      @include max-width(480) {
        @include typography(22, 31.7, 700, $primary-text-color);
        
    }
        }
        .banner-content {
        margin-bottom: 28px;
        width: 53%;
        @include typography(16, 24, 500, $secondry-text-color);
        
        @include max-width(780) {
          @include typography(14, 20, 500, $secondry-text-color);
        }
        @include max-width(480) {
          @include typography(12, 16, 500, $secondry-text-color);
        }    
      }
    }
    }

    .services-we-offer{
        margin-bottom: 120px;
        margin-top: 120px;
        .section-heading{
          @include typography(48,60, 600, $primary-text-color);
          @media screen and (max-width:1400px) {
            @include typography(32, 40, 600, $primary-text-color);
       
          }
          @media screen and (max-width:1140px) {
            @include typography(24, 36, 600, $primary-text-color);
          }
        }
        .boxes-wrapper{
            @include flex-box(row,na,na,wrap,17);
            width: 92%;
            @include max-width(1800) {
              @include flex-box(row,center,center,wrap,17);
            }
            .box{
              @include dimensions(270,400);
              border: 1px solid #E8E8E8;
              box-shadow: 0px 20px 80px 0px #0000000D;
              background-color: $secondry-color;
              border-radius: 16px;
              
              @include max-width(1200){
                @include dimensions(314,calc(33% - 9px));
              }
              @include max-width(992){
                @include dimensions(285,calc(50% - 9px));
              }
              @include max-width(768){
                @include dimensions(auto,100%);
              }
              .logo{
                @include flex-box(row,center,center,na,na);
                border-radius: 16px;
                @include dimensions(60,60);
                @include absolute(-30,na,na,25);
                &.logo-1{
                    background-color: $ai-ml-page-remarkable-benefits-logo-1-bg-color;
                    box-shadow: $ai-ml-page-remarkable-benefits-logo-1-box-shadow;
                }
                &.logo-2{
                    background-color: $ai-ml-page-remarkable-benefits-logo-2-bg-color;
                    box-shadow: $ai-ml-page-remarkable-benefits-logo-2-box-shadow;
                }
                &.logo-3{
                    background-color: $ai-ml-page-remarkable-benefits-logo-3-bg-color;
                    box-shadow: $ai-ml-page-remarkable-benefits-logo-3-box-shadow;
                }
                &.logo-4{
                    background-color: $ai-ml-page-remarkable-benefits-logo-4-bg-color;
                    box-shadow: $ai-ml-page-remarkable-benefits-logo-4-box-shadow;
                }
                &.logo-5{
                    background-color: $ai-ml-page-remarkable-benefits-logo-5-bg-color;
                    box-shadow: $ai-ml-page-remarkable-benefits-logo-5-box-shadow;
                }
                &.logo-6{
                    background-color: $ai-ml-page-remarkable-benefits-logo-6-bg-color;
                    box-shadow: $ai-ml-page-remarkable-benefits-logo-6-box-shadow;
                }
                &.logo-7{
                    background-color: $ai-ml-page-remarkable-benefits-logo-7-bg-color;
                    box-shadow: $ai-ml-page-remarkable-benefits-logo-7-box-shadow;
                }
                &.logo-8{
                    background-color: $ai-ml-page-remarkable-benefits-logo-5-bg-color;
                    box-shadow: $ai-ml-page-remarkable-benefits-logo-5-box-shadow;
                }
              }
              .number{
                @include typography(24,24,600,$light-text);
                @include absolute(12,12,na,na);
              }
              .box-heading{
                @include typography(24,36,600,$primary-text-color);
                @media screen and (max-width:1400px) {
                  @include typography(18,26,600,$primary-text-color);
                }
              }
              .box-content{
                @include typography(14,26,400,$secondry-text-color);
                @media screen and (max-width:480px) {
                  @include typography(12,22,400,$secondry-text-color);
                }
              }
            }
        }
    }

    .transform-future-wrapper {
        padding: 120px 0;
        background-color: $primary-bg-color;
        @media screen and (max-width:1700px) {
          padding: 60px;
        }
        @media screen and (max-width:1340px) {
          padding: 40px;
        }
        .transform-future {
          width: 90%;
          @include flex-box(row, space-between, na, na, 86);
          @media screen and (max-width:1520px) {
            width: 100%;
          }
          @media screen and (max-width:980px) {
            flex-direction: column;
          }
          .left-part {
            width: 48%;
            @include flex-box(column, center, na, na, na);
            @media screen and (max-width:980px) {
              width: 100%;
            }
            .section-title {
              text-transform: uppercase;
              @media screen and (max-width:1400px) {
                @include typography(18, 28, 600, $primary-color);
              }
              @media screen and (max-width:1140px) {
                @include typography(14, 22, 600, $primary-color);
              }
            }
            .section-heading{
              @include typography(48, 60, 600, $primary-text-color);
              @media screen and (max-width:1600px) {
                @include typography(40, 48, 600, $primary-text-color);
              }
              @media screen and (max-width:1400px) {
                @include typography(32, 40, 600, $primary-text-color);
              }
              @media screen and (max-width:1140px) {
                @include typography(24, 36, 600, $primary-text-color);
              }
            }
            .section-content{
              width: 70%;
              @include typography(16, 24, 400, #707070);
              @media screen and (max-width:1354px) {
                @include typography(14, 22, 400, #707070);
                width: 80%;
              }
              @media screen and (max-width:1070px) {
                @include typography(12, 18, 400, #707070);
                width: 90%;
              }
            }
          }
          .right-part {
            width: 50%;
            background-color: $secondry-color;
            border-radius: 15px;
            @media screen and (max-width:980px) {
              width: 100%;
            }
          }
        }
    }

    .benefits-wrapper {
      padding: 120px 0;
      background-color: #FFFFFF;
      @media screen and (max-width:1700px) {
        padding: 60px;
      }
      @media screen and (max-width:1340px) {
        padding: 40px;
      }
      .transform-future {
        width: 90%;
        gap: 20px;
        @include flex-box(row, space-between, na, na, 86);
        @media screen and (max-width:1720px) {
          width: 100%;
        }
        @media screen and (max-width:1490px) {
          flex-direction: column;
        }
        .left-part {
          width: 40%;
          @include flex-box(column, center, na, na, na);
          @media screen and (max-width:1490px) {
            width: 100%;
            @include flex-box(column, center, center, na, na);
          }
          .section-title {
            text-transform: uppercase;
            @media screen and (max-width:1490px) {
              text-align: center;
            }
            @media screen and (max-width:1400px) {
              @include typography(18, 28, 600, $primary-color);
            }
            @media screen and (max-width:1140px) {
              @include typography(14, 22, 600, $primary-color);
            }
          }
          .section-heading{
            @include typography(48, 60, 600, $primary-text-color);
            @media screen and (max-width:1490px) {
              text-align: center;
              @include typography(40, 48, 600, $primary-text-color);
            }
            @media screen and (max-width:1400px) {
              @include typography(32, 40, 600, $primary-text-color);
            }
            @media screen and (max-width:1140px) {
              @include typography(24, 36, 600, $primary-text-color);
            }
          }
          .section-content{
            width: 100%;
            @include typography(16, 24, 400, #707070);
            @media screen and (max-width:1490px) {
              text-align: center;
            }
            @media screen and (max-width:1354px) {
              @include typography(14, 22, 400, #707070);
              
            }
            @media screen and (max-width:1070px) {
              @include typography(12, 18, 400, #707070);
             
            }
          }
        }
        .right-part {
          width: 60%;
          @include flex-box(row,na,na,wrap,20);
          @media screen and (max-width:1570px) {
            width: 70%;
          }
          @media screen and (max-width:1490px) {
            margin: auto;
            width: 90%;
            @include flex-box(row,center,center,wrap,20);
          }
          .box{
            @include dimensions(auto,397);
            border-radius: 16px;
            background-color: #F9F9F9;
            @media screen and (max-width:1600px) {
             margin: 0;
            }
            @media screen and (max-width:980px) {
              @include dimensions(auto,600)
             }
            .upper-part{
                @include flex-box(row,na,center,na,20);
                .logo{
                    @include dimensions(50,50);
                    border-radius: 12px;
                    background-color: #0096FF;
                    @include flex-box(row,center,center,na,na);
                  
                }
                .box-heading{
                  @include typography(18,na,600,$primary-text-color);
                  margin: 0;
                  // @media screen and (max-width:1400px) {
                  //   @include typography(14,na,600,$primary-text-color);
                  // }
                }
            }
            .box-content{
              @include typography(14,26,400,#707070);
              @media screen and (max-width:480px) {
                @include typography(12,22,400,#707070);
              }
            }
           
          }
        }
      }
  }

    .solution-provide{
      margin-bottom: 120px;
      padding: 120px 0;
      background-color: $primary-color;
      @media screen and (max-width:1070px) {
        padding: 40px 0;
        margin-bottom: 60px;
      }
      .section-title-text {
        text-transform: uppercase;
        @include typography(24, 36, 600, #FFFFFF);
        @media screen and (max-width:1400px) {
          @include typography(18, 28, 600, #FFFFFF);
        }
        @media screen and (max-width:1140px) {
          @include typography(14, 22, 600, #FFFFFF);
        }
      }
      .section-heading{
        @include typography(48, 60, 600, #FFFFFF);
        @media screen and (max-width:1400px) {
          @include typography(40, 48, 600, #FFFFFF);
          
        }
        @media screen and (max-width:1140px) {
          @include typography(28, 36, 600, #FFFFFF);
        }
      }
      .main-content{
        @include typography(16, 24, 400, #FFFFFF);
        width: 58%;
        margin: 20px auto;
        @media screen and (max-width:1354px) {
          @include typography(14, 22, 400, #FFFFFF);
         width: 100%;
        }
        @media screen and (max-width:1070px) {
          @include typography(12, 18, 400, #FFFFFF);
          margin-top: 10px;
        }
      }
      .boxes-wrapper{
        @include flex-box(row,na,na,wrap,17);
        width: 90%;
        margin: auto;
        @include max-width(1805){
          width: 75%;
        }
        @include max-width(1650){
          @include flex-box(row,center,center,wrap,17);
          }
          @include max-width(1091){
            width: 90%;
          }
        .box{
          @include dimensions(300,400);
          border: 1px solid #E8E8E8;
          box-shadow: 0px 20px 80px 0px #0000000D;
          background-color: $secondry-color;
          border-radius: 16px;
          @include max-width(900){
            @include dimensions(auto,600);
          }
          .logo{
            @include flex-box(row,center,center,na,na);
            border-radius: 16px;
            @include dimensions(60,60);
            @include absolute(-30,na,na,25);
            &.logo-1{
                background-color: $ai-ml-page-remarkable-benefits-logo-1-bg-color;
                box-shadow: $ai-ml-page-remarkable-benefits-logo-1-box-shadow;
            }
            &.logo-2{
                background-color: $ai-ml-page-remarkable-benefits-logo-2-bg-color;
                box-shadow: $ai-ml-page-remarkable-benefits-logo-2-box-shadow;
            }
            &.logo-3{
                background-color: $ai-ml-page-remarkable-benefits-logo-3-bg-color;
                box-shadow: $ai-ml-page-remarkable-benefits-logo-3-box-shadow;
            }
            &.logo-4{
                background-color: $ai-ml-page-remarkable-benefits-logo-4-bg-color;
                box-shadow: $ai-ml-page-remarkable-benefits-logo-4-box-shadow;
            }
          }
          .number{
            @include typography(24,24,600,$light-text);
            @include absolute(12,12,na,na);
          }
          .box-heading{
            @include typography(24,36,600,$primary-text-color);
            
            @media screen and (max-width:1400px) {
              @include typography(18,26,600,$primary-text-color);
            }
          }
          .box-content{
            @include typography(14,26,400,$secondry-text-color);
            @media screen and (max-width:480px) {
              @include typography(12,22,400,$secondry-text-color);
            }
          }
        }
    }
    }

    .technos-wrapper{
      background-color: #FFFFFF;
      .technos{
        width: 100%;
        .section-title {
          text-transform: uppercase;
          @media screen and (max-width:1400px) {
            @include typography(18, 28, 600, $primary-color);
          }
          @media screen and (max-width:1140px) {
            @include typography(14, 22, 600, $primary-color);
          }
        }
        .section-heading{
          @include typography(48, 60, 600, $primary-text-color);
          @media screen and (max-width:1600px) {
            @include typography(40,48, 600, $primary-text-color);
          }
          @media screen and (max-width:1400px) {
            @include typography(32, 40, 600, $primary-text-color);
            margin: 0;
          }
          @media screen and (max-width:1140px) {
            @include typography(24, 36, 600, $primary-text-color);
          }
        }
        .section-content{
          width: 55%;
          margin: 20px auto;
          @include typography(16, 24, 400, #707070);
          @media screen and (max-width:1354px) {
            @include typography(14, 22, 400, #707070);
           width: 95%;
          }
          @media screen and (max-width:1070px) {
            @include typography(12, 18, 400, #707070);
            margin-top: 10px;
          }
        }
          .boxes-wrapper{
              margin: auto;
              @include flex-box(row,na,na,wrap,20);
              width: 92%;
              @include max-width(1810){
                width: 80%;
              }
              @include max-width(1550){
                @include flex-box(row,center,center,wrap,20);
              }
              .box{
                  @include dimensions(250,400);
                  @include max-width(1810){
                    width: 47%;
                  }
                  @include max-width(992){
                    @include dimensions(auto,500);
                  }
                  @include max-width(768){
                    @include dimensions(auto,600);
                  }
                  border: 1px solid #E8E8E8;
                  border-radius: 16px;
                  background-color: $secondry-color;
                  box-shadow: 0px 20px 80px 0px #0000000D;
                  .upper-part{
                      @include flex-box(row,na,center,na,20);
                      width: 100%;
                      .logo{
                          @include dimensions(60,60);
                          border-radius: 16px;
                          background-color: $ai-ml-page-remarkable-benefits-logo-2-bg-color;
                          box-shadow: $ai-ml-page-remarkable-benefits-logo-2-box-shadow;
                          @include flex-box(row,center,center,na,na);
                          img{
                            width: 38px;
                          }
                      }
                      .box-heading{
                        @include typography(24,na,600,$primary-text-color);
                        margin: 0;
                        width: calc(100% - 80px);
                        @media screen and (max-width:1400px) {
                          @include typography(18,26,600,$primary-text-color);
                        }
                      }
                  }
                  .box-content{
                    @include typography(14,26,400,#707070);
                    @media screen and (max-width:480px) {
                      @include typography(12,22,400,$secondry-text-color);
                    }
                  }
                 
              }
          }
      }
    }

    .footers-wrapper {
      margin-top: 220px;
      background-color: $primary-bg-color;
      @include flex-box(column, center, center, na, na);
      padding-top: 90px;
      .footer {
        @include flex-box(row, space-between, center, na, na);
        border-bottom: 1px solid #999a9c;
        padding-bottom: 35px;
        @include max-width(992) {
          gap: 24px;
          @include flex-box(column, na, baseline, na, 24);
        }
        @include max-width(768) {
          padding-bottom: 35px;
        }
        .address {
          .img {
            margin-right: 10px;
          }
        }
        .address-content {
          @include typography(14, 21, 600, $secondry-text-color);
        }
        .enquiry {
          @include max-width(768) {
            width: 100%;
          }
          .mail-id,
          .phone-no {
            @include typography(14, 21, 600, $secondry-text-color);
          }
          .email-input {
            @include max-width(992) {
              position: relative;
              margin: 20px 0 12px 0;
            }
            @include max-width(768) {
              width: 100%;
            }
            input {
              @include dimensions(48, 345);
              @include flex-box(row, na, center, na, na);
              @include typography(14, 21, 600, $secondry-text-color);
              padding: 0 120px 0 45px;
              border-radius: 24px;
              border: 1px solid #999a9c;
            }
            .input-wds {
              @include max-width(1440) {
                width: 180px;
              }
              @include max-width(1200) {
                width: 110px;
              }
              @include max-width(992) {
                width: 533px;
              }
              @include max-width(768) {
                width: calc(100% - 167px);
              }
            }
            img {
              @include absolute(12, na, na, 16);
            }
            button {
              @include absolute(3, 3, na, na);
              height: 44px;
            }
          }
        }
      }
      .enquiry-heading-lg {
        @include max-width(992) {
          display: none;
        }
      }
      .enquiry-heading-sm {
        @include max-width(992) {
          display: block;
          margin-top: 40px;
        }
      }
      .second-footer {
        padding: 45px 0;
        @include flex-box(row, space-between, center, na, na);
        @include max-width(768) {
          padding: 45px 15px !important;
          @include flex-box(column, na, baseline, na, 16);
        }
        .footer-buttons {
          @include flex-box(row, na, center, na, 15);
        }
        .firm-logos {
          @include flex-box(row, space-between, center, na, 5);
          @include typography(14, 21, 500, $tertiary-text-color);
          padding: 0 15px;
          border: 0;
          height: 38px;
          border-radius: 19px;
          .outer-border {
            @include absolute(0, 0, 0, 0);
            @include dimensions(38, 100%);
            border-radius: 19px;
            background-color: transparent;
            border: 1px solid $footer-border-color;
          }
          &:hover {
            border-top: 0;
            border-right: 0;
            border-left: 0;
            border-radius: 0;
            overflow: hidden;
            background-color: transparent;
            .outer-border {
              transform: translateX(+101%);
            }
            .f-with-hover {
              display: block;
            }
            .f-no-hover {
              display: none;
            }
          }
        }
        .facebook {
          &:hover {
            color: $learn-more-hover-color;
            &::after {
              width: 100%;
            }
          }
          &::after {
            content: "";
            @include absolute(na, na, 0, 0);
            @include dimensions(1, 0);
            background-color: $learn-more-hover-color;
            transition: width 0.3s ease;
          }
        }
        .linkdin {
          &:hover {
            color: $learn-more-hover-color;
            &::after {
              width: 100%;
            }
          }
          &::after {
            content: "";
            @include absolute(na, na, 0, 0);
            @include dimensions(1, 0);
            background-color: $learn-more-hover-color;
            transition: width 0.3s ease;
          }
        }
        .intagram {
          &:hover {
            color: $footer-btn-instagram-bg-color;
            &::after {
              width: 100%;
            }
          }
          &::after {
            content: "";
            @include absolute(na, na, 0, 0);
            @include dimensions(1, 0);
            background-color: $footer-btn-instagram-bg-color;
            transition: width 0.3s ease;
          }
        }
        .rights-reserved {
          @include typography(14, 21, 500, $primary-text-color);
        }
      }
      .footer-headings {
        @include flex-box(row, space-between, na, na, na);
        .footer-heading {
          @include typography(24, 36, 600, $primary-text-color);
        }
      }
    }
  }