@import "./foundation.scss";
@import "./mixins.scss";

* {
  font-family: "Poppins", sans-serif;
}

/************************** banner-upper-part **************************/

.banner-blur-circle-1 {
  background-color: $primary-color;
  filter: blur(195px);
  @include dimensions(325, 325);
  @include absolute(225, na, na, 50%);
  transform: translateX(-50%);
}

.banner-image {
  @include absolute(135, na, na, 50%);
  transform: translateX(-50%);
}

.user-box-1 {
  border-radius: 8px;
  border: 1px solid $user-box-border-color;
  backdrop-filter: blur(150px);
  box-shadow: $user-box-box-shadow;
  background: $user-box-background;
  @include flex-box(row, center, center, na, 10);
  span {
    @include typography(16, 24, 600, $primary-text-color);
  }
}

.user-box-left {
  @include absolute(325, na, na, 500);
  @include max-width(1720){
    @include absolute(310, na, na, 370);
  }
  @include max-width(1440){
    @include absolute(330, na, na, 240);
  }
}

.user-box-right {
  @include absolute(120, 570, na, na);
  @include max-width(1720){
    @include absolute(155, 410, na, na);
  }
  @include max-width(1440){
    @include absolute(155, 290, na, na);
  }
}

.banner-icon {
  @include dimensions(47, 47);
  @include flex-box(na, center, center, na, na);
  background-color: $primary-color;
  border-radius: 8px;
}

.line-design {
  @include flex-box(column, center, center, na, 15);
  span {
    @include typography(16, 24, 600, #d9d9d9);
  }
}

.line-logo-box {
  border: 1px solid #e5e6e8;
  @include flex-box(na, center, center, na, na);
  @include dimensions(61, 61);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  background: $line-design-logo-box-bg-color;
}

.right-line-box {
  @include absolute(80, -70, na, na);
  @include max-width(1440){
  @include absolute(80, -150, na, na);
  }
  .right-inner-line {
    top: 85px;
    right: 43px;
    @include max-width(1440){
      top: 85px;
      right: -80px;
    }
  }
}

.left-line-box {
  @include absolute(165, na, na, -75);
  @include max-width(1440){
    @include absolute(165,na,na,-150);
  }
  .left-inner-line {
    top: 80px;
    left: 80px;
    @include max-width(1440){
      top: 100px;
      left: -42px;
    }
  }
}

/************************** buttons **************************/

.primary-button {
  @include btn(48, 20, 24, $primary-color);
  @include typography(16, 24, 500, $secondry-color);
  transition: all 0.3s ease;
  @include max-width(1200) {
    height: 42px;
    font-size: 14px;
  }
  box-shadow: $primary-box-shadow;
  &:hover {
    box-shadow: $primary-box-shadow;
    background-color: $primary-hover-color;
  }
}

/************************ banner-lower-part *************************/

.banner-details{
    background: linear-gradient(
      178.83deg,
      rgba(255, 255, 255, 0.6) 2.73%,
      rgba(249, 249, 249, 0.6) 97.04%
    );
    @include dimensions(calc(100vh - 480px),100%);
    @include flex-box(column, center, center, na, na);
    @include absolute(na, 0, 0, 0);
    backdrop-filter: blur(30px);
}

.inner-banner-heading{
    @include typography(58, 86.7, 700, $primary-text-color);
}

.inner-banner-content{
    @include typography(16, 24, 500, $secondry-text-color);
}

/************************* contents ****************************/

.section-title {
  background: $title-text-gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  @include typography(24, 50, 600, na);
  @include max-width(1200) {
    @include typography(na, 35, na, na);
  }
}

.section-heading {
  @include typography(48, 60, 600, $primary-text-color);
  @include max-width(1440) {
    @include typography(36, 45, 600, $primary-text-color);
  }
  @include max-width(1200) {
    @include typography(30, 36, na, na);
  }
}

.section-content {
  @include typography(16, 25, 500, $secondry-text-color);
  margin: 0;
  @include max-width(1200) {
    @include typography(14, 20, na, na);
  }
}

.inner-heading{
    @include typography(18, 25, 600, $primary-text-color);
}

.inner-content{
    @include typography(14, 25, 400, $secondry-text-color);
}

.inner-title{
    @include typography(24, 36, 400, $primary-text-color);
}

.upper-triangle {
  @include dimensions(132, 1930);
  @include absolute(-131, na, na, na);
  border-top: 66px solid transparent;
  border-right: 965px solid transparent;
  border-bottom: 66px solid $primary-bg-color;
  border-left: 965px solid $primary-bg-color;
}
.lower-triangle {
  @include dimensions(132, 1930);
  @include absolute(na, na, -131, na);
  border-top: 66px solid $primary-bg-color;
  border-right: 965px solid $primary-bg-color;
  border-bottom: 66px solid transparent;
  border-left: 965px solid transparent;
}

.oe-upper-triangle {
  @include dimensions(96, 1930);
  @include absolute(-96, na, na, na);
  border-top: 48px solid transparent;
  border-right: 965px solid $primary-bg-color;
  border-bottom: 48px solid $primary-bg-color;
  border-left: 965px solid transparent;
}
.oe-lower-triangle {
  @include dimensions(96, 1930);
  @include absolute(na, na, -96, na);
  border-top: 48px solid $primary-bg-color;
  border-right: 965px solid transparent;
  border-bottom: 48px solid transparent;
  border-left: 965px solid $primary-bg-color;
}

/*****************************HEADER*****************************/

.header-wrapper {
  border-bottom: 1px solid $header-border-color;
  background-color: $header-bg-color;
  backdrop-filter: blur(10px);
  z-index: 40;
  .contact-us {
    background-color: $learn-more-hover-color;
    box-shadow: none;
    &:hover {
      background-color: $primary-hover-color;
    }
  }
  .header {
    @include dimensions(80, na);
    @include flex-box(row, space-between, center, "na", "na");
    .burger-btn {
      @include max-width(992) {
        display: block !important;
      }
    }
    .navbar {
      @include navbar(46);
      @include max-width(1200) {
        gap: 35px;
      }
      @include max-width(992) {
        display: none;
      }
      .nav-items {
        @include nav-items(16, 24, 400, $secondry-text-color);
        @include max-width(1200) {
          font-size: 14px;
        }
        &:hover,
        &.active {
          color: $primary-color;
        }
      }
    }
    .burger-btn {
      display: none;
    }
  }
}

/*****************************FOOTER*****************************/

.footers-wrapper {
  margin-top: 220px;
  background-color: $primary-bg-color;
  @include flex-box(column, center, center, na, na);
  padding-top: 90px;
  .footer {
    @include flex-box(row, space-between, center, na, na);
    border-bottom: 1px solid #999a9c;
    padding-bottom: 35px;
    @include max-width(992) {
      flex-direction: column;
      align-items: baseline;
      gap: 24px;
      @include flex-box(column, na, baseline, na, 24);
    }
    @include max-width(768) {
      padding-bottom: 35px;
    }
    .address {
      .img {
        margin-right: 10px;
      }
    }
    .address-content {
      @include typography(14, 21, 600, $secondry-text-color);
    }
    .enquiry {
      @include max-width(768) {
        width: 100%;
      }
      .mail-id,
      .phone-no {
        @include typography(14, 21, 600, $secondry-text-color);
      }
      .email-input {
        @include max-width(992) {
          position: relative;
          margin: 20px 0 12px 0;
        }
        @include max-width(768) {
          width: 100%;
        }
        input {
          @include dimensions(48, 345);
          @include flex-box(row, na, center, na, na);
          @include typography(14, 21, 600, $secondry-text-color);
          padding: 0 120px 0 45px;
          border-radius: 24px;
          border: 1px solid #999a9c;
        }
        .input-wds {
          @include max-width(1440) {
            width: 180px;
          }
          @include max-width(1200) {
            width: 110px;
          }
          @include max-width(992) {
            width: 533px;
          }
          @include max-width(768) {
            width: calc(100% - 167px);
          }
        }
        img {
          @include absolute(12, na, na, 16);
        }
        button {
          @include absolute(3, 3, na, na);
          height: 44px;
        }
      }
    }
  }
  .enquiry-heading-lg {
    @include max-width(992) {
      display: none;
    }
  }
  .enquiry-heading-sm {
    @include max-width(992) {
      display: block;
      margin-top: 40px;
    }
  }
  .second-footer {
    padding: 45px 0;
    @include flex-box(row, space-between, center, na, na);
    @include max-width(768) {
      padding: 45px 15px !important;
      @include flex-box(column, na, baseline, na, 16);
    }
    .footer-buttons {
      @include flex-box(row, na, center, na, 15);
    }
    .firm-logos {
      @include flex-box(row, space-between, center, na, 5);
      @include typography(14, 21, 500, $tertiary-text-color);
      padding: 0 15px;
      border: 0;
      height: 38px;
      border-radius: 19px;
      .outer-border {
        @include absolute(0, 0, 0, 0);
        @include dimensions(38, 100%);
        border-radius: 19px;
        background-color: transparent;
        border: 1px solid $footer-border-color;
      }
      &:hover {
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-radius: 0;
        overflow: hidden;
        background-color: transparent;
        .outer-border {
          transform: translateX(+101%);
        }
        .f-with-hover {
          display: block;
        }
        .f-no-hover {
          display: none;
        }
      }
    }
    .facebook {
      &:hover {
        color: $learn-more-hover-color;
        &::after {
          width: 100%;
        }
      }
      &::after {
        content: "";
        @include absolute(na, na, 0, 0);
        @include dimensions(1, 0);
        background-color: $learn-more-hover-color;
        transition: width 0.3s ease;
      }
    }
    .linkdin {
      &:hover {
        color: $learn-more-hover-color;
        &::after {
          width: 100%;
        }
      }
      &::after {
        content: "";
        @include absolute(na, na, 0, 0);
        @include dimensions(1, 0);
        background-color: $learn-more-hover-color;
        transition: width 0.3s ease;
      }
    }
    .intagram {
      &:hover {
        color: $footer-btn-instagram-bg-color;
        &::after {
          width: 100%;
        }
      }
      &::after {
        content: "";
        @include absolute(na, na, 0, 0);
        @include dimensions(1, 0);
        background-color: $footer-btn-instagram-bg-color;
        transition: width 0.3s ease;
      }
    }
    .rights-reserved {
      @include typography(14, 21, 500, $primary-text-color);
    }
  }
  .footer-headings {
    @include flex-box(row, space-between, na, na, na);
    .footer-heading {
      @include typography(24, 36, 600, $primary-text-color);
    }
  }
}