@import "./foundation.scss";
@import "./mixins.scss";

* {
    font-family: "Poppins", sans-serif;
}

.outer-box{
    .ui-banner {
        .ui-banner-details {
          .banner-heading {
            width: 1188px;
            text-transform: uppercase;
          }
          .banner-content {
            width: 550px;
          }
        }
    }    
    
    .ios-app{
        background-color: #F9F9F9;
        display: flex;
        overflow: hidden;
        padding: 120px 135px;
        height: 479px;
        @include max-width(1440) {
            padding: 80px;
        }
        @include max-width(1200) {
            flex-direction: column;
            height: auto;
        }

        @include max-width(768) {
            padding: 30px;
        }
        .img-section{
            width: 44%;
            @include max-width(1200) {
                width: 100%;
            }
            img{
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
                @include max-width(1200) {
                    width: 100%;
                    border-radius: 30px;
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                }
                @include max-width(576) {
                width: 100%;
                border-radius: 20px;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
                }
            }
        }
        .text-section{
            width: 60%;
            background-color: white;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            // @include flex-box(na, center,center,na,na);
            overflow: hidden;

            @include max-width(1200) {
                border-radius: 30px;
                width: 100%;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                margin-bottom: 40px;
            }

            @include max-width(576) {
                border-radius: 20px;
            }

            .ios-app-circle1{
                background-color: #ABCCFF;
                filter: blur(135px);
                width: 230px;
                height: 230px;
                @include absolute(0,0,na,na);
                @include max-width(576) {
                    display: none;
                }
            }
            .ios-app-circle2{
                background-color: #ABCCFF;
                filter: blur(125px);
                width: 200px;    
                height: 200px;
                border-radius: 50%;
                @include absolute(na,na,0,-100);
                @include max-width(576) {
                    display: none;
                }
            }
            .section{
                width: 80%;
                margin: 109px 90px 81px 128px;
                @include max-width(1720) {
                    margin: 90px;
                    width: 83%;
                }
                @include max-width(1440){
                    margin: 50px;
                }
                @include max-width(1200) {
                    margin: 40px;
                    width: auto;
                    @include flex-box(column, start,start,na,na);
                }
                @include max-width(576) {
                    margin: 30px;
                }
                .large-heading{
                    margin: 0;
                    @include typography(48,72,600,$primary-text-color);
                    @include max-width(1720) {
                        @include typography(44,88,600,$primary-text-color);
                    }
                    @include max-width(1440) {
                        @include typography(38,52,600,$primary-text-color);
                    }
                    @include max-width(1200) {
                        @include typography(32,42,600,$primary-text-color);
                    }
                    @include max-width(576) {
                        @include typography(22,32,600,$primary-text-color);
                    }
                }
                .normal-text{
                    @include typography(14,25,400,#707070);
                    @include max-width(576) {
                        @include typography(12,20,400,#707070);
                    }
                }
                .primary-button{
                    @include max-width(576) {
                        @include typography(12,20,400,#ffffff);
                    }
                }
            }
            .z-img1{
                @include absolute(0,0,na,na);
            }
            
        }
    }

    .start-your-project{
        overflow: hidden;
        padding: 120px 0;
        @include flex-box(column,center,center,na,na);
        @include max-width(1200) {
            height: auto;
            padding: 100px 0;
        }
        @include max-width(576) {
            padding: 20px;
        }
        .large-text{
            @include typography(38,60,600,$primary-text-color);
            @include max-width(1200) {
                @include typography(28,60,600,$primary-text-color);
            }
            @include max-width(576) {
                @include typography(18,60,600,$primary-text-color);
            }
        }
        .normal-text{
            width: 47%;
            text-align: center;
            @include typography(14,25,400,#707070);
            @include max-width(1400) {
                width: 60%;
            }
            @include max-width(576) {
                width: 90%;
                @include typography(12,20,400,#707070);
            }
        }
        .primary-button{
            @include max-width(576) {
                @include typography(12,20,400,#ffffff);
            }
        }
        .right-side{
            position: absolute;
            top: -62px;
            right: 0;
        }
        .left-side{
            position: absolute;
            bottom: -60px;
            left: -11px;
        }
        .ios-app-circle1{
            background-color: #ABCCFF;
            filter: blur(170px);
            width: 400px;
            height: 400px;
            @include absolute(na,40,-120,na);

        }
        .ios-app-circle2{
            background-color: #ABCCFF;
            filter: blur(145px);
            width: 350px;    
            height: 350px;
            border-radius: 50%;
            @include absolute(-60,na,na,-60);
        }
        .z-img2{
            position: absolute;
            top: -15px;
            left: 0;
            @include max-width(1200) {
                display: none;
            }
        }
        .z-img3{
            position: absolute;
            top: 11px;
            right: 0;
        }
        ::before {
            content: '';
            position: absolute;
            top: -0.4px;
            left:-0.4px;
            right: -0.4px;
            bottom:-0.4px;
            border: .5px solid transparent; 
            background: linear-gradient(109.92deg, #0096FF 12.78%, #BB64FF 37.63%, #F2416B 62.12%, #EB7500 87.3%);
            -webkit-mask: 
                linear-gradient(#fff 0 0) content-box, 
                linear-gradient(#fff 0 0); 
            -webkit-mask-composite: destination-out; 
            mask-composite: exclude;
            pointer-events: none;
            transition: all 0.4s ease;
            z-index: 0;
        }
    }

    .android-app,.hybrid-app{
        background-color: #F9F9F9;
        height: 632px;
        padding: 40px;
        padding-right: 205px;
        padding-left: 135px;
        @include flex-box(na, center,center,na,na);
        @include max-width(1720) {
            padding: 40px;
            height: auto;
        }
        @include max-width(992){
            padding: 60px 40px;
        }
        .text-section{
            width: 100%;
            @include flex-box(na,center,center,na,120);
            @include max-width(1720) {
                gap: 40px;
            }
            @include max-width(1440) {
                flex-direction: column;
            }
            .section{
                @include flex-box(column, start,start,na,na);
                @include max-width(1440) {
                    align-items: center;
                    justify-content: center;
                }
                @include max-width(576) {
                    justify-content: start;
                    align-items: start;
                }
                .large-heading{
                    @include typography(48,72,600,$primary-text-color);
                    @include max-width(1440) {
                        @include typography(42,52,600,$primary-text-color);
                    }
                    @include max-width(1200) {
                        @include typography(32,42,600,$primary-text-color);
                    }
                    @include max-width(576) {
                        @include typography(22,32,600,$primary-text-color);
                    }
                }
                .normal-text{
                    @include typography(14,25,400,#707070);
                    @include max-width(576) {
                        @include typography(12,20,400,#707070);
                    }
                }
                
                .primary-button{
                    @include max-width(576) {
                        @include typography(12,20,400,#ffffff);
                    }
                }
            }
            .img-section{
                background-color: #FFFFFF;
                border-radius: 15px;
                padding: 20px;
                
                @include max-width(1440) {
                    width: 80%;
                    padding: 15px;
                    img{
                        width: 100%;
                    }
                }
                @include max-width(992) {
                    width: 100%;
                    padding: 10px;
                }
                @include max-width(576){
                    padding: 5px;
                }
                
            }
        }
        
    }

    .outer-featured-aspect{
        background-color: #FFFFFF;
        @include flex-box(na, center,center,na,na);
        padding: 120px 107px;
        @include max-width(1440){
            padding: 90px;
        }
        @include max-width(992) {
            padding: 50px;
        }
        @include max-width(576) {
            padding: 60px 15px;
        }
        .features{
            border: 1px solid #E8E8E8;
            border-radius: 30px;
            padding: 40px;
            position: relative;
            @include max-width(992) {
                padding: 30px;
            }
            @include max-width(576) {
                padding: 15px;
                border-radius: 15px;
            }
            .large-heading{
                @include typography(48,72,600,$primary-text-color);
                @include max-width(1440) {
                    @include typography(42,52,600,$primary-text-color);
                }
                @include max-width(992) {
                    @include typography(32,42,600,$primary-text-color);
                }
                @include max-width(576) {
                    @include typography(22,32,600,$primary-text-color);
                }
            }
            .invisible{
                @include typography(120,180,600,#FAFAFA);
                position: absolute;
                top: -27px;
                right: 21px;
                @include max-width(1720) {
                    @include typography(100,130,600,#FAFAFA);
                    top: 10px;
                }
                @include max-width(1440) {
                    @include typography(80,100,600,#FAFAFA);    
                }
                @include max-width(1200) {
                    @include typography(60,80,600,#FAFAFA);
                }
                @include max-width(992) {
                    @include typography(40,60,600,#FAFAFA);
                }
            }
            .inner-featured-aspect{
                gap: 43px;
                flex-wrap: wrap;
                @include flex-box(na, center,na,wrap,43);
                @include max-width(576) {
                    gap: 15px;
                }
                .aspect{
                    background-color: #F9F9F9;
                    border-radius: 12px;
                    padding: 20px;
                    width: 20%;
                  
                    @include max-width(1720) {
                        width: 29%;
                    }
                    @include max-width(1440){
                        width: 41%;
                    }
                    @include max-width(992) {
                        width: 93%;
                    }
                    img{
                        width: 40px;
                        height: 40px;
                    }
                    .img1{
                        display: block;
                    }
                    .img2{
                        display: none;
                    }
                    .card-heading{
                        @include typography(24,36,600,$primary-text-color);
                        @include max-width(576) {
                            @include typography(18,24,600,$primary-text-color);
                        }
                    }
                    .card-text{
                        @include typography(14,25,400,#707070);
                    }

                    &:hover{
                        .img1{
                            display: none;
                        }
                        .img2{
                            display: block;
                        }
                        .card-heading{
                            @include typography(24,36,600,#FFFFFF);
                        }
                        .card-text{
                            @include typography(14,25,400,#FFFFFF);
                        }
                    }
                }
                .aspect-card1{
                    &:hover{
                        // background: transparent; 
                        // background: -webkit-linear-gradient(to right, rgba(24,54,85,1.00), transparent 50%);
                        // background: linear-gradient(to right, rgba(24,54,85,1.00), transparent 50%); 
                        background: linear-gradient(to right ,#136DFB,#9AC1FF,#1A71FB);
                    }
                }.aspect-card2{
                    &:hover{
                        background: linear-gradient(to right,  #BB64FF ,#DCAFFF, #BB64FF);
                    }
                }.aspect-card3{
                    &:hover{
                        background: linear-gradient(to right,  #F2416B ,#FF83A0,#F2416B);
                    }
                }.aspect-card4{
                    &:hover{
                        background: linear-gradient(to right,  #EB7500 , #FFC183,#EB7500);
                    }
                }
            }
        }
       
        
    }

    .full-spectrum-outer{
        padding-top: 120px;
        @include flex-box(column, center,center,na,na);
        @include max-width(576) {
            padding-top: 60px;
        }
        .large-heading{
            text-align: center;
            @include typography(48,72,600,$primary-text-color);
            @include max-width(1440) {
                @include typography(42,52,600,$primary-text-color);
            }
            @include max-width(992) {
                @include typography(32,42,600,$primary-text-color);
                margin-bottom: 10px;
            }
            @include max-width(576) {
                @include typography(22,32,600,$primary-text-color);
            }
        }
        .normal-text{
            text-align: center;
            width: 40%;
            @include typography(14,25,400,#707070);
            @include max-width(1440) {
                width: 60%;
            }
            @include max-width(992) {
                width: 80%;
            }
            @include max-width(576) {
                @include typography(12,20,400,#707070);
                width: 95%;
            }
        }

        
        .full-spectrum-cards{
            width: 80%;
            @include flex-box(na, na,na,na,20);
            @include max-width(1720) {
                flex-wrap: wrap;
                width: 96%;
                justify-content: center;
            }
            .full-spectrum-inner{
                padding: 25px;
                border-radius: 15px;
                background-color: #F9F9F9;
                width: 20%;
                @include max-width(1440) {
                    width: 40%;
                }

                @include max-width(768) {
                    width: 80%;
                }
                .spectrum{
                    @include flex-box(na, na,center,na,10);
                    .div{
                        border-radius: 12px;
                        background-color: #0096FF;
                        padding: 12px;
                        img{
                            width: 100%;
                        }
                        @include max-width(576){
                            width: 20px;
                            height: 20px;
                        }
                    }
                    .img-div2{
                        background-color: #BB64FF;
                    }
                    .img-div3{
                        background-color: #F2416B;
                    }
                    .img-div4{
                        background-color: #EB7500;
                    }
                    .mobile{
                        @include typography(18,30,600,$primary-text-color);
                        @include max-width(992) {
                           @include typography(16,26,600,$primary-text-color);
                        }
                    }
                }
                .text{
                    @include typography(14,25,400,#707070);
                    @include max-width(992){
                        @include typography(13,20,400,#707070);
                     }
                }
            }
        }
    }
}