/******************* colors *******************/
/******************** font-sizes *******************/
.fs-0 {
  font-size: 0px;
}

.fs-1 {
  font-size: 1px;
}

.fs-4 {
  font-size: 4px;
}

.fs-8 {
  font-size: 8px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
}

.fs-20 {
  font-size: 20px;
}

.fs-21 {
  font-size: 21px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-25 {
  font-size: 25px;
}

.fs-27 {
  font-size: 27px;
}

.fs-28 {
  font-size: 28px;
}

.fs-29 {
  font-size: 29px;
}

.fs-30 {
  font-size: 30px;
}

.fs-32 {
  font-size: 32px;
}

.fs-34 {
  font-size: 34px;
}

.fs-36 {
  font-size: 36px;
}

.fs-38 {
  font-size: 38px;
}

.fs-40 {
  font-size: 40px;
}

.fs-42 {
  font-size: 42px;
}

.fs-50 {
  font-size: 50px;
}

.fs-62 {
  font-size: 62px;
}

/************************** spacing-classes ******************************/
.my-auto {
  margin: 0 auto;
}

.margin-1 {
  margin: 1px;
}

.margin-60 {
  margin: 60px;
}

.margin-0 {
  margin: 0px;
}

.margin-4 {
  margin: 4px;
}

.margin-8 {
  margin: 8px;
}

.margin-12 {
  margin: 12px;
}

.margin-16 {
  margin: 16px;
}

.margin-20 {
  margin: 20px;
}

.margin-24 {
  margin: 24px;
}

.margin-28 {
  margin: 28px;
}

.margin-32 {
  margin: 32px;
}

.margin-40 {
  margin: 40px;
}

.padding-1 {
  padding: 1px;
}

.padding-60 {
  padding: 60px;
}

.padding-0 {
  padding: 0px;
}

.padding-4 {
  padding: 4px;
}

.padding-8 {
  padding: 8px;
}

.padding-12 {
  padding: 12px;
}

.padding-16 {
  padding: 16px;
}

.padding-20 {
  padding: 20px;
}

.padding-24 {
  padding: 24px;
}

.padding-28 {
  padding: 28px;
}

.padding-32 {
  padding: 32px;
}

.padding-36 {
  padding: 36px;
}

.padding-40 {
  padding: 40px;
}

.mr-1 {
  margin-right: 1px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-0 {
  margin-right: 0px;
}

.mr-4 {
  margin-right: 4px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-28 {
  margin-right: 28px;
}

.mr-32 {
  margin-right: 32px;
}

.mr-40 {
  margin-right: 40px;
}

.mb-1 {
  margin-bottom: 1px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-1 {
  margin-bottom: 1px;
}

.ml-60 {
  margin-bottom: 60px;
}

.ml-0 {
  margin-left: 0px;
}

.ml-4 {
  margin-left: 4px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-12 {
  margin-left: 12px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-24 {
  margin-left: 24px;
}

.ml-28 {
  margin-left: 28px;
}

.ml-32 {
  margin-left: 32px;
}

.ml-40 {
  margin-left: 40px;
}

.mt-1 {
  margin-top: 1px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-68 {
  margin-top: 68px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-28 {
  margin-top: 28px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-40 {
  margin-top: 40px;
}

.m-auto {
  margin-right: auto;
  margin-left: auto;
}

/*********************** position-classes *********************/
.p-rel {
  position: relative;
}

.p-abs {
  position: absolute;
}

.p-st {
  position: static;
}

.p-fx {
  position: fixed;
}

.p-sty {
  position: sticky;
}

/*********************** z-index-classes ***********************/
.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.z-5 {
  z-index: 5;
}

.z-6 {
  z-index: 6;
}

.z-7 {
  z-index: 7;
}

.z-8 {
  z-index: 8;
}

.z-9 {
  z-index: 9;
}

/************************ transitions ***********************/
.t-1 {
  transition: all 0.1s ease;
}

.t-2 {
  transition: all 0.2s ease;
}

.t-3 {
  transition: all 0.3s ease;
}

.t-4 {
  transition: all 0.4s ease;
}

.t-5 {
  transition: all 0.5s ease;
}

.t-6 {
  transition: all 0.6s ease;
}

.t-7 {
  transition: all 0.7s ease;
}

.t-8 {
  transition: all 0.8s ease;
}

.t-9 {
  transition: all 0.9s ease;
}

/************************ overflows ****************************/
.o-a {
  overflow: auto;
}

.o-h {
  overflow: hidden;
}

.o-s {
  overflow: scroll;
}

.o-v {
  overflow: visible;
}

.ox-a {
  overflow-x: auto;
}

.ox-h {
  overflow-x: hidden;
}

.ox-s {
  overflow-x: scroll;
}

.ox-v {
  overflow-x: visible;
}

.oy-a {
  overflow-y: auto;
}

.oy-h {
  overflow-y: hidden;
}

.oy-s {
  overflow-y: scroll;
}

.oy-v {
  overflow-y: visible;
}

/************************** displays ***************************/
.d-n {
  display: none;
}

.d-i {
  display: inline;
}

.d-b {
  display: block;
}

.d-ib {
  display: inline-block;
}

/************************* border-radius *************************/
.br-100 {
  border-radius: 100%;
}

.br-50 {
  border-radius: 50%;
}

.tx-center {
  text-align: center;
}

.tx-end {
  text-align: end;
}

.tx-left {
  text-align: left;
}

.tx-start {
  text-align: start;
}

.full-vh {
  height: 100vh;
}

.bx-border-box {
  box-sizing: border-box;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.w-fc {
  width: -moz-fit-content;
  width: fit-content;
}

.cp {
  cursor: pointer;
}

.tx-dec-none {
  text-decoration: none;
}

/************************** breakpoints **************************/
@media screen and (min-width: 1721px) {
  .wds {
    width: 1650px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1720px) {
  .wds {
    width: 1350px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .wds {
    width: 1050px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .wds {
    width: 940px;
  }
}
@media screen and (min-width: 700px) and (max-width: 992px) {
  .wds {
    width: 700px;
  }
}
@media screen and (max-width: 768px) {
  .wds {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }
}

/************************** triangles **************************/
@media screen and (max-width: 1720px) {
  .tgl-wds {
    width: 1730px;
    border-right-width: 865px;
    border-left-width: 865px;
  }
}
@media screen and (max-width: 1440px) {
  .tgl-wds {
    width: 1450px;
    border-right-width: 725px;
    border-left-width: 725px;
  }
}
@media screen and (max-width: 1200px) {
  .tgl-wds {
    width: 1210px;
    border-right-width: 605px;
    border-left-width: 605px;
  }
}

* {
  font-family: "Poppins", sans-serif;
}

.outer-box .ui-banner .ui-banner-details .banner-heading {
  width: 1188px;
  text-transform: uppercase;
}
.outer-box .ui-banner .ui-banner-details .banner-content {
  width: 550px;
}
.outer-box .ios-app {
  background-color: #F9F9F9;
  display: flex;
  overflow: hidden;
  padding: 120px 135px;
  height: 479px;
}
@media screen and (max-width: 1440px) {
  .outer-box .ios-app {
    padding: 80px;
  }
}
@media screen and (max-width: 1094px) {
  .outer-box .ios-app {
    flex-direction: column;
    height: auto;
  }
}
@media screen and (max-width: 780px) {
  .outer-box .ios-app {
    padding: 30px;
  }
}
.outer-box .ios-app .img-section {
  width: 44%;
}
@media screen and (max-width: 1094px) {
  .outer-box .ios-app .img-section {
    width: 100%;
  }
}
.outer-box .ios-app .img-section img {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
@media screen and (max-width: 1094px) {
  .outer-box .ios-app .img-section img {
    width: 100%;
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
@media screen and (max-width: 580px) {
  .outer-box .ios-app .img-section img {
    width: 100%;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
.outer-box .ios-app .text-section {
  width: 60%;
  background-color: white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
@media screen and (max-width: 1094px) {
  .outer-box .ios-app .text-section {
    border-radius: 30px;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 580px) {
  .outer-box .ios-app .text-section {
    border-radius: 20px;
  }
}
.outer-box .ios-app .text-section .ios-app-circle1 {
  background-color: #ABCCFF;
  filter: blur(135px);
  width: 230px;
  height: 230px;
  position: absolute;
  top: 0px;
  right: 0px;
}
@media screen and (max-width: 480px) {
  .outer-box .ios-app .text-section .ios-app-circle1 {
    display: none;
  }
}
.outer-box .ios-app .text-section .ios-app-circle2 {
  background-color: #ABCCFF;
  filter: blur(125px);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  left: -100px;
}
@media screen and (max-width: 480px) {
  .outer-box .ios-app .text-section .ios-app-circle2 {
    display: none;
  }
}
.outer-box .ios-app .text-section .section {
  width: 80%;
  margin: 109px 90px 81px 128px;
}
@media screen and (max-width: 1810px) {
  .outer-box .ios-app .text-section .section {
    margin: 90px;
    width: 83%;
  }
}
@media screen and (max-width: 1400px) {
  .outer-box .ios-app .text-section .section {
    margin: 50px;
  }
}
@media screen and (max-width: 1094px) {
  .outer-box .ios-app .text-section .section {
    margin: 40px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}
@media screen and (max-width: 580px) {
  .outer-box .ios-app .text-section .section {
    margin: 30px;
  }
}
.outer-box .ios-app .text-section .section .large-heading {
  margin: 0;
  font-size: 48px;
  line-height: 72px;
  font-weight: 600;
  color: #202323;
}
@media screen and (max-width: 1810px) {
  .outer-box .ios-app .text-section .section .large-heading {
    font-size: 44px;
    line-height: 88px;
    font-weight: 600;
    color: #202323;
  }
}
@media screen and (max-width: 1600px) {
  .outer-box .ios-app .text-section .section .large-heading {
    font-size: 38px;
    line-height: 52px;
    font-weight: 600;
    color: #202323;
  }
}
@media screen and (max-width: 1094px) {
  .outer-box .ios-app .text-section .section .large-heading {
    font-size: 32px;
    line-height: 42px;
    font-weight: 600;
    color: #202323;
  }
}
@media screen and (max-width: 480px) {
  .outer-box .ios-app .text-section .section .large-heading {
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    color: #202323;
  }
}
.outer-box .ios-app .text-section .section .normal-text {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  color: #707070;
}
@media screen and (max-width: 480px) {
  .outer-box .ios-app .text-section .section .normal-text {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #707070;
  }
}
@media screen and (max-width: 480px) {
  .outer-box .ios-app .text-section .section .primary-button {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
  }
}
.outer-box .ios-app .text-section .z-img1 {
  position: absolute;
  top: 0px;
  right: 0px;
}
.outer-box .start-your-project {
  height: 558px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1094px) {
  .outer-box .start-your-project {
    height: auto;
    padding: 100px 0;
  }
}
@media screen and (max-width: 480px) {
  .outer-box .start-your-project {
    padding: 20px;
  }
}
.outer-box .start-your-project .large-text {
  font-size: 38px;
  line-height: 60px;
  font-weight: 600;
  color: #202323;
}
@media screen and (max-width: 1094px) {
  .outer-box .start-your-project .large-text {
    font-size: 28px;
    line-height: 60px;
    font-weight: 600;
    color: #202323;
  }
}
@media screen and (max-width: 480px) {
  .outer-box .start-your-project .large-text {
    font-size: 18px;
    line-height: 60px;
    font-weight: 600;
    color: #202323;
  }
}
.outer-box .start-your-project .normal-text {
  width: 40%;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  color: #707070;
}
@media screen and (max-width: 1440px) {
  .outer-box .start-your-project .normal-text {
    width: 60%;
  }
}
@media screen and (max-width: 480px) {
  .outer-box .start-your-project .normal-text {
    width: 90%;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #707070;
  }
}
@media screen and (max-width: 480px) {
  .outer-box .start-your-project .primary-button {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
  }
}
.outer-box .start-your-project .right-side {
  position: absolute;
  top: 0;
  right: 0;
}
.outer-box .start-your-project .left-side {
  position: absolute;
  bottom: 0;
  left: -11px;
}
.outer-box .start-your-project .ios-app-circle1 {
  background-color: #136dfb;
  filter: blur(270px);
  width: 350px;
  height: 350px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.outer-box .start-your-project .ios-app-circle2 {
  background-color: #136dfb;
  filter: blur(185px);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.outer-box .start-your-project .z-img2 {
  position: absolute;
  top: 50px;
  left: 0;
}
@media screen and (max-width: 1094px) {
  .outer-box .start-your-project .z-img2 {
    display: none;
  }
}
.outer-box .start-your-project .z-img3 {
  position: absolute;
  top: 50px;
  right: 0;
}
.outer-box .start-your-project ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0.5px solid transparent;
  background: linear-gradient(109.92deg, #0096FF 12.78%, #BB64FF 37.63%, #F2416B 62.12%, #EB7500 87.3%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  transition: all 0.4s ease;
  z-index: 0;
}
.outer-box .android-app, .outer-box .hybrid-app {
  background-color: #F9F9F9;
  height: 632px;
  padding: 40px;
  padding-right: 205px;
  padding-left: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1810px) {
  .outer-box .android-app, .outer-box .hybrid-app {
    padding: 40px;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .outer-box .android-app, .outer-box .hybrid-app {
    padding: 60px 40px;
  }
}
.outer-box .android-app .text-section, .outer-box .hybrid-app .text-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}
@media screen and (max-width: 1620px) {
  .outer-box .android-app .text-section, .outer-box .hybrid-app .text-section {
    gap: 40px;
  }
}
@media screen and (max-width: 1520px) {
  .outer-box .android-app .text-section, .outer-box .hybrid-app .text-section {
    flex-direction: column;
  }
}
.outer-box .android-app .text-section .section, .outer-box .hybrid-app .text-section .section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
@media screen and (max-width: 1520px) {
  .outer-box .android-app .text-section .section, .outer-box .hybrid-app .text-section .section {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .outer-box .android-app .text-section .section, .outer-box .hybrid-app .text-section .section {
    justify-content: start;
    align-items: start;
  }
}
.outer-box .android-app .text-section .section .large-heading, .outer-box .hybrid-app .text-section .section .large-heading {
  font-size: 48px;
  line-height: 72px;
  font-weight: 600;
  color: #202323;
}
@media screen and (max-width: 1480px) {
  .outer-box .android-app .text-section .section .large-heading, .outer-box .hybrid-app .text-section .section .large-heading {
    font-size: 42px;
    line-height: 52px;
    font-weight: 600;
    color: #202323;
  }
}
@media screen and (max-width: 1094px) {
  .outer-box .android-app .text-section .section .large-heading, .outer-box .hybrid-app .text-section .section .large-heading {
    font-size: 32px;
    line-height: 42px;
    font-weight: 600;
    color: #202323;
  }
}
@media screen and (max-width: 480px) {
  .outer-box .android-app .text-section .section .large-heading, .outer-box .hybrid-app .text-section .section .large-heading {
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    color: #202323;
  }
}
.outer-box .android-app .text-section .section .normal-text, .outer-box .hybrid-app .text-section .section .normal-text {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  color: #707070;
}
@media screen and (max-width: 480px) {
  .outer-box .android-app .text-section .section .normal-text, .outer-box .hybrid-app .text-section .section .normal-text {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #707070;
  }
}
@media screen and (max-width: 480px) {
  .outer-box .android-app .text-section .section .primary-button, .outer-box .hybrid-app .text-section .section .primary-button {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
  }
}
.outer-box .android-app .text-section .img-section, .outer-box .hybrid-app .text-section .img-section {
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 20px;
}
@media screen and (max-width: 1520px) {
  .outer-box .android-app .text-section .img-section, .outer-box .hybrid-app .text-section .img-section {
    width: 80%;
    padding: 15px;
  }
  .outer-box .android-app .text-section .img-section img, .outer-box .hybrid-app .text-section .img-section img {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .outer-box .android-app .text-section .img-section, .outer-box .hybrid-app .text-section .img-section {
    width: 100%;
    padding: 10px;
  }
}
@media screen and (max-width: 480px) {
  .outer-box .android-app .text-section .img-section, .outer-box .hybrid-app .text-section .img-section {
    padding: 5px;
  }
}
.outer-box .outer-featured-aspect {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 107px;
}
@media screen and (max-width: 1440px) {
  .outer-box .outer-featured-aspect {
    padding: 90px;
  }
}
@media screen and (max-width: 1094px) {
  .outer-box .outer-featured-aspect {
    padding: 50px;
  }
}
@media screen and (max-width: 580px) {
  .outer-box .outer-featured-aspect {
    padding: 60px 15px;
  }
}
.outer-box .outer-featured-aspect .features {
  border: 1px solid #E8E8E8;
  border-radius: 30px;
  padding: 40px;
  position: relative;
}
@media screen and (max-width: 980px) {
  .outer-box .outer-featured-aspect .features {
    padding: 30px;
  }
}
@media screen and (max-width: 580px) {
  .outer-box .outer-featured-aspect .features {
    padding: 15px;
    border-radius: 15px;
  }
}
.outer-box .outer-featured-aspect .features .large-heading {
  font-size: 48px;
  line-height: 72px;
  font-weight: 600;
  color: #202323;
}
@media screen and (max-width: 1480px) {
  .outer-box .outer-featured-aspect .features .large-heading {
    font-size: 42px;
    line-height: 52px;
    font-weight: 600;
    color: #202323;
  }
}
@media screen and (max-width: 1094px) {
  .outer-box .outer-featured-aspect .features .large-heading {
    font-size: 32px;
    line-height: 42px;
    font-weight: 600;
    color: #202323;
  }
}
@media screen and (max-width: 480px) {
  .outer-box .outer-featured-aspect .features .large-heading {
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    color: #202323;
  }
}
.outer-box .outer-featured-aspect .features .invisible {
  font-size: 120px;
  line-height: 180px;
  font-weight: 600;
  color: #FAFAFA;
  position: absolute;
  top: -27px;
  right: 21px;
}
@media screen and (max-width: 1680px) {
  .outer-box .outer-featured-aspect .features .invisible {
    font-size: 100px;
    line-height: 130px;
    font-weight: 600;
    color: #FAFAFA;
    top: 10px;
  }
}
@media screen and (max-width: 1440px) {
  .outer-box .outer-featured-aspect .features .invisible {
    font-size: 80px;
    line-height: 100px;
    font-weight: 600;
    color: #FAFAFA;
  }
}
@media screen and (max-width: 1266px) {
  .outer-box .outer-featured-aspect .features .invisible {
    font-size: 60px;
    line-height: 80px;
    font-weight: 600;
    color: #FAFAFA;
  }
}
@media screen and (max-width: 980px) {
  .outer-box .outer-featured-aspect .features .invisible {
    font-size: 40px;
    line-height: 60px;
    font-weight: 600;
    color: #FAFAFA;
  }
}
.outer-box .outer-featured-aspect .features .inner-featured-aspect {
  gap: 43px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 43px;
}
@media screen and (max-width: 580px) {
  .outer-box .outer-featured-aspect .features .inner-featured-aspect {
    gap: 15px;
  }
}
.outer-box .outer-featured-aspect .features .inner-featured-aspect .aspect {
  background-color: #F9F9F9;
  border-radius: 12px;
  padding: 20px;
  width: 20%;
}
@media screen and (max-width: 1750px) {
  .outer-box .outer-featured-aspect .features .inner-featured-aspect .aspect {
    width: 29%;
  }
}
@media screen and (max-width: 1480px) {
  .outer-box .outer-featured-aspect .features .inner-featured-aspect .aspect {
    width: 41%;
  }
}
@media screen and (max-width: 980px) {
  .outer-box .outer-featured-aspect .features .inner-featured-aspect .aspect {
    width: 93%;
  }
}
.outer-box .outer-featured-aspect .features .inner-featured-aspect .aspect img {
  width: 40px;
  height: 40px;
}
.outer-box .outer-featured-aspect .features .inner-featured-aspect .aspect .img1 {
  display: block;
}
.outer-box .outer-featured-aspect .features .inner-featured-aspect .aspect .img2 {
  display: none;
}
.outer-box .outer-featured-aspect .features .inner-featured-aspect .aspect .card-heading {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: #202323;
}
@media screen and (max-width: 480px) {
  .outer-box .outer-featured-aspect .features .inner-featured-aspect .aspect .card-heading {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #202323;
  }
}
.outer-box .outer-featured-aspect .features .inner-featured-aspect .aspect .card-text {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  color: #707070;
}
.outer-box .outer-featured-aspect .features .inner-featured-aspect .aspect:hover .img1 {
  display: none;
}
.outer-box .outer-featured-aspect .features .inner-featured-aspect .aspect:hover .img2 {
  display: block;
}
.outer-box .outer-featured-aspect .features .inner-featured-aspect .aspect:hover .card-heading {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: #FFFFFF;
}
.outer-box .outer-featured-aspect .features .inner-featured-aspect .aspect:hover .card-text {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  color: #FFFFFF;
}
.outer-box .outer-featured-aspect .features .inner-featured-aspect .aspect-card1:hover {
  background: linear-gradient(to right, #136DFB, #9AC1FF, #1A71FB);
}
.outer-box .outer-featured-aspect .features .inner-featured-aspect .aspect-card2:hover {
  background: linear-gradient(to right, #BB64FF, #DCAFFF, #BB64FF);
}
.outer-box .outer-featured-aspect .features .inner-featured-aspect .aspect-card3:hover {
  background: linear-gradient(to right, #F2416B, #FF83A0, #F2416B);
}
.outer-box .outer-featured-aspect .features .inner-featured-aspect .aspect-card4:hover {
  background: linear-gradient(to right, #EB7500, #FFC183, #EB7500);
}
.outer-box .full-spectrum-outer {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 580px) {
  .outer-box .full-spectrum-outer {
    padding-top: 60px;
  }
}
.outer-box .full-spectrum-outer .large-heading {
  text-align: center;
  font-size: 48px;
  line-height: 72px;
  font-weight: 600;
  color: #202323;
}
@media screen and (max-width: 1480px) {
  .outer-box .full-spectrum-outer .large-heading {
    font-size: 42px;
    line-height: 52px;
    font-weight: 600;
    color: #202323;
  }
}
@media screen and (max-width: 1094px) {
  .outer-box .full-spectrum-outer .large-heading {
    font-size: 32px;
    line-height: 42px;
    font-weight: 600;
    color: #202323;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 480px) {
  .outer-box .full-spectrum-outer .large-heading {
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    color: #202323;
  }
}
.outer-box .full-spectrum-outer .normal-text {
  text-align: center;
  width: 40%;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  color: #707070;
}
@media screen and (max-width: 1440px) {
  .outer-box .full-spectrum-outer .normal-text {
    width: 60%;
  }
}
@media screen and (max-width: 1094px) {
  .outer-box .full-spectrum-outer .normal-text {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .outer-box .full-spectrum-outer .normal-text {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #707070;
    width: 95%;
  }
}
.outer-box .full-spectrum-outer .full-spectrum-cards {
  width: 80%;
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 1810px) {
  .outer-box .full-spectrum-outer .full-spectrum-cards {
    flex-wrap: wrap;
    width: 96%;
    justify-content: center;
  }
}
.outer-box .full-spectrum-outer .full-spectrum-cards .full-spectrum-inner {
  padding: 25px;
  border-radius: 15px;
  background-color: #F9F9F9;
  width: 20%;
}
@media screen and (max-width: 1400px) {
  .outer-box .full-spectrum-outer .full-spectrum-cards .full-spectrum-inner {
    width: 40%;
  }
}
@media screen and (max-width: 620px) {
  .outer-box .full-spectrum-outer .full-spectrum-cards .full-spectrum-inner {
    width: 80%;
  }
}
.outer-box .full-spectrum-outer .full-spectrum-cards .full-spectrum-inner .spectrum {
  display: flex;
  align-items: center;
  gap: 10px;
}
.outer-box .full-spectrum-outer .full-spectrum-cards .full-spectrum-inner .spectrum .div {
  border-radius: 12px;
  background-color: #0096FF;
  padding: 12px;
}
.outer-box .full-spectrum-outer .full-spectrum-cards .full-spectrum-inner .spectrum .div img {
  width: 100%;
}
@media screen and (max-width: 480px) {
  .outer-box .full-spectrum-outer .full-spectrum-cards .full-spectrum-inner .spectrum .div {
    width: 20px;
    height: 20px;
  }
}
.outer-box .full-spectrum-outer .full-spectrum-cards .full-spectrum-inner .spectrum .img-div2 {
  background-color: #BB64FF;
}
.outer-box .full-spectrum-outer .full-spectrum-cards .full-spectrum-inner .spectrum .img-div3 {
  background-color: #F2416B;
}
.outer-box .full-spectrum-outer .full-spectrum-cards .full-spectrum-inner .spectrum .img-div4 {
  background-color: #EB7500;
}
.outer-box .full-spectrum-outer .full-spectrum-cards .full-spectrum-inner .spectrum .mobile {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: #202323;
}
@media screen and (max-width: 870px) {
  .outer-box .full-spectrum-outer .full-spectrum-cards .full-spectrum-inner .spectrum .mobile {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    color: #202323;
  }
}
.outer-box .full-spectrum-outer .full-spectrum-cards .full-spectrum-inner .text {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  color: #707070;
}
@media screen and (max-width: 870px) {
  .outer-box .full-spectrum-outer .full-spectrum-cards .full-spectrum-inner .text {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #707070;
  }
}/*# sourceMappingURL=mobile.css.map */