@import "./foundation.scss";
@import "./mixins.scss";

* {
  font-family: "Poppins", sans-serif;
}

.outer-box{
  .mvp-banner {
    .mvp-user-box-right{
        @include absolute(285,430,na,na);
    }
    .mvp-user-box-left{
        @include absolute(330,na,na,265);
    }
    .mvp-banner-image{
        @include absolute(240,na,na,50%);
        transform: translateX(-50%);
    }
    .mvp-banner-image-1{
        @include absolute(145,na,na,51%);
        transform: translateX(-50%);
    }
    .mvp-banner-image-2{
        @include absolute(72,na,na,39%);
        transform: translateX(-50%);
    }
    .mvp-banner-details {
      .banner-heading {
        width: 1188px;
      }
      .banner-content {
        width: 649px;
      }
    }
  }
}