/******************* colors *******************/
/******************** font-sizes *******************/
.fs-0 {
  font-size: 0px;
}

.fs-1 {
  font-size: 1px;
}

.fs-4 {
  font-size: 4px;
}

.fs-8 {
  font-size: 8px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
}

.fs-20 {
  font-size: 20px;
}

.fs-21 {
  font-size: 21px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-25 {
  font-size: 25px;
}

.fs-27 {
  font-size: 27px;
}

.fs-28 {
  font-size: 28px;
}

.fs-29 {
  font-size: 29px;
}

.fs-30 {
  font-size: 30px;
}

.fs-32 {
  font-size: 32px;
}

.fs-34 {
  font-size: 34px;
}

.fs-36 {
  font-size: 36px;
}

.fs-38 {
  font-size: 38px;
}

.fs-40 {
  font-size: 40px;
}

.fs-42 {
  font-size: 42px;
}

.fs-50 {
  font-size: 50px;
}

.fs-62 {
  font-size: 62px;
}

/************************** spacing-classes ******************************/
.my-auto {
  margin: 0 auto;
}

.margin-1 {
  margin: 1px;
}

.margin-60 {
  margin: 60px;
}

.margin-0 {
  margin: 0px;
}

.margin-4 {
  margin: 4px;
}

.margin-8 {
  margin: 8px;
}

.margin-12 {
  margin: 12px;
}

.margin-16 {
  margin: 16px;
}

.margin-20 {
  margin: 20px;
}

.margin-24 {
  margin: 24px;
}

.margin-28 {
  margin: 28px;
}

.margin-32 {
  margin: 32px;
}

.margin-40 {
  margin: 40px;
}

.padding-1 {
  padding: 1px;
}

.padding-60 {
  padding: 60px;
}

.padding-0 {
  padding: 0px;
}

.padding-4 {
  padding: 4px;
}

.padding-8 {
  padding: 8px;
}

.padding-12 {
  padding: 12px;
}

.padding-16 {
  padding: 16px;
}

.padding-20 {
  padding: 20px;
}

.padding-24 {
  padding: 24px;
}

.padding-28 {
  padding: 28px;
}

.padding-32 {
  padding: 32px;
}

.padding-36 {
  padding: 36px;
}

.padding-40 {
  padding: 40px;
}

.mr-1 {
  margin-right: 1px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-0 {
  margin-right: 0px;
}

.mr-4 {
  margin-right: 4px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-28 {
  margin-right: 28px;
}

.mr-32 {
  margin-right: 32px;
}

.mr-40 {
  margin-right: 40px;
}

.mb-1 {
  margin-bottom: 1px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-1 {
  margin-bottom: 1px;
}

.ml-60 {
  margin-bottom: 60px;
}

.ml-0 {
  margin-left: 0px;
}

.ml-4 {
  margin-left: 4px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-12 {
  margin-left: 12px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-24 {
  margin-left: 24px;
}

.ml-28 {
  margin-left: 28px;
}

.ml-32 {
  margin-left: 32px;
}

.ml-40 {
  margin-left: 40px;
}

.mt-1 {
  margin-top: 1px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-68 {
  margin-top: 68px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-28 {
  margin-top: 28px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-40 {
  margin-top: 40px;
}

.m-auto {
  margin-right: auto;
  margin-left: auto;
}

/*********************** position-classes *********************/
.p-rel {
  position: relative;
}

.p-abs {
  position: absolute;
}

.p-st {
  position: static;
}

.p-fx {
  position: fixed;
}

.p-sty {
  position: sticky;
}

/*********************** z-index-classes ***********************/
.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.z-5 {
  z-index: 5;
}

.z-6 {
  z-index: 6;
}

.z-7 {
  z-index: 7;
}

.z-8 {
  z-index: 8;
}

.z-9 {
  z-index: 9;
}

/************************ transitions ***********************/
.t-1 {
  transition: all 0.1s ease;
}

.t-2 {
  transition: all 0.2s ease;
}

.t-3 {
  transition: all 0.3s ease;
}

.t-4 {
  transition: all 0.4s ease;
}

.t-5 {
  transition: all 0.5s ease;
}

.t-6 {
  transition: all 0.6s ease;
}

.t-7 {
  transition: all 0.7s ease;
}

.t-8 {
  transition: all 0.8s ease;
}

.t-9 {
  transition: all 0.9s ease;
}

/************************ overflows ****************************/
.o-a {
  overflow: auto;
}

.o-h {
  overflow: hidden;
}

.o-s {
  overflow: scroll;
}

.o-v {
  overflow: visible;
}

.ox-a {
  overflow-x: auto;
}

.ox-h {
  overflow-x: hidden;
}

.ox-s {
  overflow-x: scroll;
}

.ox-v {
  overflow-x: visible;
}

.oy-a {
  overflow-y: auto;
}

.oy-h {
  overflow-y: hidden;
}

.oy-s {
  overflow-y: scroll;
}

.oy-v {
  overflow-y: visible;
}

/************************** displays ***************************/
.d-n {
  display: none;
}

.d-i {
  display: inline;
}

.d-b {
  display: block;
}

.d-ib {
  display: inline-block;
}

/************************* border-radius *************************/
.br-100 {
  border-radius: 100%;
}

.br-50 {
  border-radius: 50%;
}

.tx-center {
  text-align: center;
}

.tx-end {
  text-align: end;
}

.tx-left {
  text-align: left;
}

.tx-start {
  text-align: start;
}

.full-vh {
  height: 100vh;
}

.bx-border-box {
  box-sizing: border-box;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.w-fc {
  width: -moz-fit-content;
  width: fit-content;
}

.cp {
  cursor: pointer;
}

.tx-dec-none {
  text-decoration: none;
}

/************************** breakpoints **************************/
@media screen and (min-width: 1721px) {
  .wds {
    width: 1650px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1720px) {
  .wds {
    width: 1350px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .wds {
    width: 1050px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .wds {
    width: 940px;
  }
}
@media screen and (min-width: 700px) and (max-width: 992px) {
  .wds {
    width: 700px;
  }
}
@media screen and (max-width: 768px) {
  .wds {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }
}

/************************** triangles **************************/
@media screen and (max-width: 1720px) {
  .tgl-wds {
    width: 1730px;
    border-right-width: 865px;
    border-left-width: 865px;
  }
}
@media screen and (max-width: 1440px) {
  .tgl-wds {
    width: 1450px;
    border-right-width: 725px;
    border-left-width: 725px;
  }
}
@media screen and (max-width: 1200px) {
  .tgl-wds {
    width: 1210px;
    border-right-width: 605px;
    border-left-width: 605px;
  }
}

* {
  font-family: "Poppins", sans-serif;
}

.outer-box .mvp-banner .mvp-graph-left {
  position: absolute;
  top: 354px;
  left: 24%;
  transform: translateX(-50%);
}
.outer-box .mvp-banner .mvp-graph-right {
  position: absolute;
  top: 60px;
  left: 57%;
  transform: translateX(-50%);
}
.outer-box .mvp-banner .mvp-user-box-right {
  position: absolute;
  top: 285px;
  right: 430px;
}
.outer-box .mvp-banner .mvp-user-box-left {
  position: absolute;
  top: 330px;
  left: 265px;
}
.outer-box .mvp-banner .mvp-banner-image {
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translateX(-50%);
}
.outer-box .mvp-banner .mvp-banner-image-1 {
  position: absolute;
  top: 145px;
  left: 51%;
  transform: translateX(-50%);
}
.outer-box .mvp-banner .mvp-banner-image-2 {
  position: absolute;
  top: 72px;
  left: 39%;
  transform: translateX(-50%);
}
.outer-box .mvp-banner .mvp-banner-details .banner-heading {
  width: 1188px;
}
.outer-box .mvp-banner .mvp-banner-details .banner-content {
  width: 649px;
}
.outer-box .transform-future-wrapper {
  margin-bottom: 120px;
  padding: 40px 0;
  background-color: #f9f9f9;
}
.outer-box .transform-future-wrapper .transform-future {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 60px;
}
@media screen and (max-width: 992px) {
  .outer-box .transform-future-wrapper .transform-future {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 36px;
  }
}
.outer-box .transform-future-wrapper .transform-future .left-part {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .outer-box .transform-future-wrapper .transform-future .left-part {
    width: 100%;
  }
}
.outer-box .transform-future-wrapper .transform-future .right-part {
  width: 50%;
  background-color: #ffffff;
  border-radius: 15px;
}
@media screen and (max-width: 992px) {
  .outer-box .transform-future-wrapper .transform-future .right-part {
    width: 100%;
  }
}
@media screen and (max-width: 1440px) {
  .outer-box .transform-future-wrapper .transform-future .right-part img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
  }
}
.outer-box .digital-transform-wrapper {
  position: relative;
}
.outer-box .digital-transform-wrapper .overley {
  content: "";
  margin: auto;
  position: absolute;
  left: 25%;
  top: 0px;
  z-index: -1;
  height: 100%;
  width: 600px;
  background: linear-gradient(109.92deg, rgba(0, 149, 255, 0.3), rgba(187, 100, 255, 0.3), rgba(242, 65, 107, 0.3), rgba(235, 117, 0, 0.3));
  filter: blur(80px);
}
.outer-box .digital-transform-wrapper .digital-transformation {
  width: 90%;
  height: 520px;
  margin-top: 120px;
  margin-bottom: 120px;
  overflow: hidden;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 1520px) {
  .outer-box .digital-transform-wrapper .digital-transformation {
    width: 95%;
  }
}
@media screen and (max-width: 980px) {
  .outer-box .digital-transform-wrapper .digital-transformation {
    flex-direction: column;
    height: auto;
  }
}
.outer-box .digital-transform-wrapper .digital-transformation .left-part {
  padding: 124px 204px 124px 84px;
  background-color: #ffffff;
  box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
@media screen and (max-width: 1440px) {
  .outer-box .digital-transform-wrapper .digital-transformation .left-part {
    padding: 50px;
  }
}
@media screen and (max-width: 980px) {
  .outer-box .digital-transform-wrapper .digital-transformation .left-part {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .outer-box .digital-transform-wrapper .digital-transformation .left-part {
    width: 91%;
    padding: 20px;
    border-radius: 0;
  }
}
.outer-box .digital-transform-wrapper .digital-transformation .left-part .section-title {
  text-transform: uppercase;
}
@media screen and (max-width: 1400px) {
  .outer-box .digital-transform-wrapper .digital-transformation .left-part .section-title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #136dfb;
  }
}
@media screen and (max-width: 1140px) {
  .outer-box .digital-transform-wrapper .digital-transformation .left-part .section-title {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #136dfb;
  }
}
@media screen and (max-width: 980px) {
  .outer-box .digital-transform-wrapper .digital-transformation .left-part .section-title {
    margin-bottom: 5px;
  }
}
.outer-box .digital-transform-wrapper .digital-transformation .left-part .section-heading {
  font-size: 48px;
  line-height: 60px;
  font-weight: 600;
  color: #202323;
}
@media screen and (max-width: 1600px) {
  .outer-box .digital-transform-wrapper .digital-transformation .left-part .section-heading {
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
    color: #202323;
  }
}
@media screen and (max-width: 1400px) {
  .outer-box .digital-transform-wrapper .digital-transformation .left-part .section-heading {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    color: #202323;
  }
}
@media screen and (max-width: 1140px) {
  .outer-box .digital-transform-wrapper .digital-transformation .left-part .section-heading {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    color: #202323;
  }
}
@media screen and (max-width: 980px) {
  .outer-box .digital-transform-wrapper .digital-transformation .left-part .section-heading {
    margin-bottom: 10px;
  }
}
.outer-box .digital-transform-wrapper .digital-transformation .left-part .section-content {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #707070;
}
@media screen and (max-width: 1354px) {
  .outer-box .digital-transform-wrapper .digital-transformation .left-part .section-content {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #707070;
    width: 80%;
  }
}
@media screen and (max-width: 1070px) {
  .outer-box .digital-transform-wrapper .digital-transformation .left-part .section-content {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #707070;
    width: 90%;
  }
}
@media screen and (max-width: 980px) {
  .outer-box .digital-transform-wrapper .digital-transformation .left-part .section-content {
    margin-bottom: 0px;
  }
}
.outer-box .digital-transform-wrapper .digital-transformation .right-part {
  background-color: #ffffff;
  border-radius: 15px;
}
@media screen and (max-width: 1440px) {
  .outer-box .digital-transform-wrapper .digital-transformation .right-part {
    width: 50%;
  }
}
@media screen and (max-width: 980px) {
  .outer-box .digital-transform-wrapper .digital-transformation .right-part {
    width: 100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .outer-box .digital-transform-wrapper .digital-transformation .right-part img {
    width: 100%;
  }
}
.outer-box .digital-transform-wrapper .digital-transformation .z-img1 {
  position: absolute;
  z-index: 10;
  right: 0;
}
@media screen and (max-width: 980px) {
  .outer-box .digital-transform-wrapper .digital-transformation .z-img1 {
    display: none;
  }
}
.outer-box .digital-transform-wrapper .digital-transformation .circle4 {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 400px;
  background-color: #c0bedd;
  filter: blur(125px);
}
@media screen and (max-width: 980px) {
  .outer-box .digital-transform-wrapper .digital-transformation .circle4 {
    display: none;
  }
}
.outer-box .services-we-offer {
  margin-bottom: 120px;
}
.outer-box .services-we-offer .boxes-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 17px;
}
.outer-box .services-we-offer .boxes-wrapper .box {
  width: calc(25% - 13px);
  height: 300px;
  border: 1px solid #E8E8E8;
  box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.0509803922);
  background-color: #ffffff;
  border-radius: 16px;
}
@media screen and (max-width: 1440px) {
  .outer-box .services-we-offer .boxes-wrapper .box {
    width: calc(25% - 13px);
    height: 340px;
  }
}
@media screen and (max-width: 1200px) {
  .outer-box .services-we-offer .boxes-wrapper .box {
    width: calc(33% - 9px);
    height: 314px;
  }
}
@media screen and (max-width: 992px) {
  .outer-box .services-we-offer .boxes-wrapper .box {
    width: calc(50% - 9px);
    height: 285px;
  }
}
@media screen and (max-width: 768px) {
  .outer-box .services-we-offer .boxes-wrapper .box {
    width: 100%;
    height: auto;
  }
}
.outer-box .services-we-offer .boxes-wrapper .box .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  width: 60px;
  height: 60px;
  position: absolute;
  top: -30px;
  left: 25px;
}
.outer-box .services-we-offer .boxes-wrapper .box .logo.logo-1 {
  background-color: #136DFB;
  box-shadow: 0px 10px 60px 0px rgba(19, 109, 251, 0.4);
}
.outer-box .services-we-offer .boxes-wrapper .box .logo.logo-2 {
  background-color: #EB7500;
  box-shadow: 0px 10px 60px 0px rgba(235, 117, 0, 0.4);
}
.outer-box .services-we-offer .boxes-wrapper .box .logo.logo-3 {
  background-color: #BB64FF;
  box-shadow: 0px 10px 60px 0px rgba(187, 100, 255, 0.4);
}
.outer-box .services-we-offer .boxes-wrapper .box .logo.logo-4 {
  background-color: #F2416B;
  box-shadow: 0px 10px 60px 0px rgba(242, 65, 107, 0.4);
}
.outer-box .services-we-offer .boxes-wrapper .box .logo.logo-5 {
  background-color: #BB64FF;
  box-shadow: 0px 10px 60px 0px rgba(187, 100, 255, 0.4);
}
.outer-box .services-we-offer .boxes-wrapper .box .logo.logo-6 {
  background-color: #F2416B;
  box-shadow: 0px 10px 60px 0px rgba(242, 65, 107, 0.4);
}
.outer-box .services-we-offer .boxes-wrapper .box .logo.logo-7 {
  background-color: #136DFB;
  box-shadow: 0px 10px 60px 0px rgba(19, 109, 251, 0.4);
}
.outer-box .services-we-offer .boxes-wrapper .box .number {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  color: #EDEEED;
  position: absolute;
  top: 12px;
  right: 12px;
}
.outer-box .services-we-offer .boxes-wrapper .box .box-heading {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: #202323;
}
.outer-box .services-we-offer .boxes-wrapper .box .box-content {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #707070;
}
.outer-box .key-features-wrapper {
  margin-bottom: 120px;
  padding: 120px 0;
  background-color: #f9f9f9;
}
.outer-box .key-features-wrapper .main-content {
  width: 700px;
}
.outer-box .key-features-wrapper .boxes-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 1440px) {
  .outer-box .key-features-wrapper .boxes-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
  }
}
@media screen and (max-width: 1200px) {
  .outer-box .key-features-wrapper .boxes-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 14px;
  }
}
.outer-box .key-features-wrapper .boxes-wrapper .box {
  width: 313px;
  height: 142px;
  border-radius: 16px;
  background-color: #ffffff;
}
@media screen and (max-width: 1720px) {
  .outer-box .key-features-wrapper .boxes-wrapper .box {
    width: 254px;
    height: 170px;
  }
}
@media screen and (max-width: 1440px) {
  .outer-box .key-features-wrapper .boxes-wrapper .box {
    padding: 14px;
    width: 199px;
    height: 179px;
  }
}
@media screen and (max-width: 1200px) {
  .outer-box .key-features-wrapper .boxes-wrapper .box {
    width: 303px;
    height: 125px;
  }
}
@media screen and (max-width: 992px) {
  .outer-box .key-features-wrapper .boxes-wrapper .box {
    width: 343px;
    height: 110px;
  }
}
@media screen and (max-width: 768px) {
  .outer-box .key-features-wrapper .boxes-wrapper .box {
    width: calc(50% - 7px);
    height: auto;
  }
}
.outer-box .key-features-wrapper .boxes-wrapper .box .box-heading {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: #136dfb;
}
.outer-box .key-features-wrapper .boxes-wrapper .box .box-heading span {
  color: #202323;
  margin-right: 4px;
}
@media screen and (max-width: 1440px) {
  .outer-box .key-features-wrapper .boxes-wrapper .box .section-content {
    margin-top: 6px;
  }
}
.outer-box .vision-to-life {
  background-image: url("../assets/images/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background-position: right;
  padding: 0 90px;
  height: 460px;
  border-radius: 30px;
  margin-bottom: 200px;
  border: 1px solid #E8E8E8;
}
@media screen and (max-width: 1720px) {
  .outer-box .vision-to-life {
    height: 380px;
  }
}
.outer-box .vision-to-life .content {
  width: 838px;
}
.outer-box .vision-to-life .content .vision {
  color: #F2416B;
}
.outer-box .vision-to-life .content .start {
  color: #136dfb;
}/*# sourceMappingURL=MVP-development.css.map */