/******************* colors *******************/
/******************** font-sizes *******************/
.fs-0 {
  font-size: 0px;
}

.fs-1 {
  font-size: 1px;
}

.fs-4 {
  font-size: 4px;
}

.fs-8 {
  font-size: 8px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
}

.fs-20 {
  font-size: 20px;
}

.fs-21 {
  font-size: 21px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-25 {
  font-size: 25px;
}

.fs-27 {
  font-size: 27px;
}

.fs-28 {
  font-size: 28px;
}

.fs-29 {
  font-size: 29px;
}

.fs-30 {
  font-size: 30px;
}

.fs-32 {
  font-size: 32px;
}

.fs-34 {
  font-size: 34px;
}

.fs-36 {
  font-size: 36px;
}

.fs-38 {
  font-size: 38px;
}

.fs-40 {
  font-size: 40px;
}

.fs-42 {
  font-size: 42px;
}

.fs-50 {
  font-size: 50px;
}

.fs-62 {
  font-size: 62px;
}

/************************** spacing-classes ******************************/
.my-auto {
  margin: 0 auto;
}

.margin-1 {
  margin: 1px;
}

.margin-60 {
  margin: 60px;
}

.margin-0 {
  margin: 0px;
}

.margin-4 {
  margin: 4px;
}

.margin-8 {
  margin: 8px;
}

.margin-12 {
  margin: 12px;
}

.margin-16 {
  margin: 16px;
}

.margin-20 {
  margin: 20px;
}

.margin-24 {
  margin: 24px;
}

.margin-28 {
  margin: 28px;
}

.margin-32 {
  margin: 32px;
}

.margin-40 {
  margin: 40px;
}

.padding-1 {
  padding: 1px;
}

.padding-60 {
  padding: 60px;
}

.padding-0 {
  padding: 0px;
}

.padding-4 {
  padding: 4px;
}

.padding-8 {
  padding: 8px;
}

.padding-12 {
  padding: 12px;
}

.padding-16 {
  padding: 16px;
}

.padding-20 {
  padding: 20px;
}

.padding-24 {
  padding: 24px;
}

.padding-28 {
  padding: 28px;
}

.padding-32 {
  padding: 32px;
}

.padding-36 {
  padding: 36px;
}

.padding-40 {
  padding: 40px;
}

.mr-1 {
  margin-right: 1px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-0 {
  margin-right: 0px;
}

.mr-4 {
  margin-right: 4px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-28 {
  margin-right: 28px;
}

.mr-32 {
  margin-right: 32px;
}

.mr-40 {
  margin-right: 40px;
}

.mb-1 {
  margin-bottom: 1px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-1 {
  margin-bottom: 1px;
}

.ml-60 {
  margin-bottom: 60px;
}

.ml-0 {
  margin-left: 0px;
}

.ml-4 {
  margin-left: 4px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-12 {
  margin-left: 12px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-24 {
  margin-left: 24px;
}

.ml-28 {
  margin-left: 28px;
}

.ml-32 {
  margin-left: 32px;
}

.ml-40 {
  margin-left: 40px;
}

.mt-1 {
  margin-top: 1px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-68 {
  margin-top: 68px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-28 {
  margin-top: 28px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-40 {
  margin-top: 40px;
}

.m-auto {
  margin-right: auto;
  margin-left: auto;
}

/*********************** position-classes *********************/
.p-rel {
  position: relative;
}

.p-abs {
  position: absolute;
}

.p-st {
  position: static;
}

.p-fx {
  position: fixed;
}

.p-sty {
  position: sticky;
}

/*********************** z-index-classes ***********************/
.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.z-5 {
  z-index: 5;
}

.z-6 {
  z-index: 6;
}

.z-7 {
  z-index: 7;
}

.z-8 {
  z-index: 8;
}

.z-9 {
  z-index: 9;
}

/************************ transitions ***********************/
.t-1 {
  transition: all 0.1s ease;
}

.t-2 {
  transition: all 0.2s ease;
}

.t-3 {
  transition: all 0.3s ease;
}

.t-4 {
  transition: all 0.4s ease;
}

.t-5 {
  transition: all 0.5s ease;
}

.t-6 {
  transition: all 0.6s ease;
}

.t-7 {
  transition: all 0.7s ease;
}

.t-8 {
  transition: all 0.8s ease;
}

.t-9 {
  transition: all 0.9s ease;
}

/************************ overflows ****************************/
.o-a {
  overflow: auto;
}

.o-h {
  overflow: hidden;
}

.o-s {
  overflow: scroll;
}

.o-v {
  overflow: visible;
}

.ox-a {
  overflow-x: auto;
}

.ox-h {
  overflow-x: hidden;
}

.ox-s {
  overflow-x: scroll;
}

.ox-v {
  overflow-x: visible;
}

.oy-a {
  overflow-y: auto;
}

.oy-h {
  overflow-y: hidden;
}

.oy-s {
  overflow-y: scroll;
}

.oy-v {
  overflow-y: visible;
}

/************************** displays ***************************/
.d-n {
  display: none;
}

.d-i {
  display: inline;
}

.d-b {
  display: block;
}

.d-ib {
  display: inline-block;
}

/************************* border-radius *************************/
.br-100 {
  border-radius: 100%;
}

.br-50 {
  border-radius: 50%;
}

.tx-center {
  text-align: center;
}

.tx-end {
  text-align: end;
}

.tx-left {
  text-align: left;
}

.tx-start {
  text-align: start;
}

.full-vh {
  height: 100vh;
}

.bx-border-box {
  box-sizing: border-box;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.w-fc {
  width: -moz-fit-content;
  width: fit-content;
}

.cp {
  cursor: pointer;
}

.tx-dec-none {
  text-decoration: none;
}

/************************** breakpoints **************************/
@media screen and (min-width: 1721px) {
  .wds {
    width: 1650px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1720px) {
  .wds {
    width: 1350px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .wds {
    width: 1050px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .wds {
    width: 940px;
  }
}
@media screen and (min-width: 700px) and (max-width: 992px) {
  .wds {
    width: 700px;
  }
}
@media screen and (max-width: 768px) {
  .wds {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }
}

/************************** triangles **************************/
@media screen and (max-width: 1720px) {
  .tgl-wds {
    width: 1730px;
    border-right-width: 865px;
    border-left-width: 865px;
  }
}
@media screen and (max-width: 1440px) {
  .tgl-wds {
    width: 1450px;
    border-right-width: 725px;
    border-left-width: 725px;
  }
}
@media screen and (max-width: 1200px) {
  .tgl-wds {
    width: 1210px;
    border-right-width: 605px;
    border-left-width: 605px;
  }
}

* {
  font-family: "Poppins", sans-serif;
}

.outer-box {
  /******** banner ********/
}
.outer-box .ui-banner .the-circle {
  filter: blur(195px);
  width: 325px;
  height: 325px;
  transform: translateX(-50%);
}
.outer-box .ui-banner .ui-banner-blur-circle {
  background-color: #136dfb;
  position: absolute;
  top: 225px;
  left: 50%;
}
.outer-box .ui-banner .ui-banner-blur-circle-II {
  background-color: #f2416b;
  position: absolute;
  top: 225px;
  left: 64%;
}
.outer-box .ui-banner .ai-ml-banner-line {
  position: absolute;
  top: 140px;
  left: -42px;
}
.outer-box .ui-banner .banner-girl-image {
  position: absolute;
  top: 135px;
  left: 37%;
}
.outer-box .ui-banner .banner-girl-image .banner-gif {
  width: 499px;
  position: absolute;
  right: 0px;
  left: 0px;
}
.outer-box .ui-banner .user-box {
  border-radius: 8px;
  border: 1px solid rgba(19, 109, 251, 0.0509803922);
  -webkit-backdrop-filter: blur(150px);
          backdrop-filter: blur(150px);
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.2);
  background: linear-gradient(178.83deg, rgba(255, 255, 255, 0.6) 2.73%, rgba(249, 249, 249, 0.6) 97.04%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.outer-box .ui-banner .user-box.ios-app-left {
  position: absolute;
  top: 385px;
  left: 340px;
}
.outer-box .ui-banner .user-box.ios-app-right {
  position: absolute;
  top: 385px;
  right: 270px;
}
.outer-box .ui-banner .user-box.ios-app-bottom {
  position: absolute;
  top: 180px;
  left: 390px;
}
.outer-box .ui-banner .user-box.ai-bot {
  position: absolute;
  top: 205px;
  right: 348px;
}
.outer-box .ui-banner .user-box .icon {
  width: 47px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #136dfb;
  border-radius: 8px;
}
.outer-box .ui-banner .user-box span {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #202323;
}
.outer-box .ui-banner .ui-banner-details {
  background: linear-gradient(178.83deg, rgba(255, 255, 255, 0.6) 2.73%, rgba(249, 249, 249, 0.6) 97.04%);
  width: 100%;
  height: calc(100vh - 504px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}
.outer-box .ui-banner .ui-banner-details .banner-heading {
  width: 900px;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-size: 58px;
  line-height: 86.7px;
  font-weight: 700;
  color: #202323;
}
@media screen and (max-width: 1200px) {
  .outer-box .ui-banner .ui-banner-details .banner-heading {
    font-size: 36px;
    line-height: 48.7px;
    font-weight: 700;
    color: #202323;
    width: 840px;
  }
}
.outer-box .ui-banner .ui-banner-details .banner-content {
  width: 960px;
  margin-bottom: 28px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #707070;
}
.outer-box .transform-future-wrapper {
  margin-bottom: 120px;
  background-color: #f9f9f9;
}
@media screen and (max-width: 1700px) {
  .outer-box .transform-future-wrapper {
    padding: 60px;
  }
}
@media screen and (max-width: 1340px) {
  .outer-box .transform-future-wrapper {
    padding: 40px;
    margin-bottom: 60px;
  }
}
.outer-box .transform-future-wrapper .transform-future {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
}
@media screen and (max-width: 1520px) {
  .outer-box .transform-future-wrapper .transform-future {
    width: 100%;
  }
}
@media screen and (max-width: 980px) {
  .outer-box .transform-future-wrapper .transform-future {
    flex-direction: column;
  }
}
.outer-box .transform-future-wrapper .transform-future .left-part {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 980px) {
  .outer-box .transform-future-wrapper .transform-future .left-part {
    width: 100%;
  }
}
.outer-box .transform-future-wrapper .transform-future .left-part .section-title {
  text-transform: uppercase;
}
@media screen and (max-width: 1400px) {
  .outer-box .transform-future-wrapper .transform-future .left-part .section-title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #136dfb;
  }
}
@media screen and (max-width: 1140px) {
  .outer-box .transform-future-wrapper .transform-future .left-part .section-title {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #136dfb;
  }
}
.outer-box .transform-future-wrapper .transform-future .left-part .section-heading {
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
  color: #202323;
}
@media screen and (max-width: 1400px) {
  .outer-box .transform-future-wrapper .transform-future .left-part .section-heading {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    color: #202323;
  }
}
@media screen and (max-width: 1140px) {
  .outer-box .transform-future-wrapper .transform-future .left-part .section-heading {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    color: #202323;
  }
}
.outer-box .transform-future-wrapper .transform-future .left-part .section-content {
  width: 70%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #707070;
}
@media screen and (max-width: 1354px) {
  .outer-box .transform-future-wrapper .transform-future .left-part .section-content {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #707070;
    width: 80%;
  }
}
@media screen and (max-width: 1070px) {
  .outer-box .transform-future-wrapper .transform-future .left-part .section-content {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #707070;
    width: 90%;
  }
}
.outer-box .transform-future-wrapper .transform-future .right-part {
  width: 50%;
  background-color: #ffffff;
  border-radius: 15px;
}
@media screen and (max-width: 980px) {
  .outer-box .transform-future-wrapper .transform-future .right-part {
    width: 100%;
  }
}
.outer-box .ai-solutions .section-title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: #136dfb;
  text-transform: uppercase;
}
@media screen and (max-width: 1354px) {
  .outer-box .ai-solutions .section-title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #136dfb;
  }
}
@media screen and (max-width: 1070px) {
  .outer-box .ai-solutions .section-title {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #136dfb;
  }
}
.outer-box .ai-solutions .section-heading {
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
  color: #202323;
}
@media screen and (max-width: 1354px) {
  .outer-box .ai-solutions .section-heading {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    color: #202323;
  }
}
@media screen and (max-width: 1070px) {
  .outer-box .ai-solutions .section-heading {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    color: #202323;
  }
}
.outer-box .ai-solutions .main-content {
  width: 70%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #707070;
}
@media screen and (max-width: 1354px) {
  .outer-box .ai-solutions .main-content {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #707070;
    width: 80%;
  }
}
@media screen and (max-width: 1070px) {
  .outer-box .ai-solutions .main-content {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #707070;
    width: 90%;
  }
}
.outer-box .ai-solutions .boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 90px;
}
@media screen and (max-width: 1070px) {
  .outer-box .ai-solutions .boxes {
    margin-top: 40px;
  }
}
@media screen and (max-width: 580px) {
  .outer-box .ai-solutions .boxes {
    gap: 15px;
  }
}
.outer-box .ai-solutions .boxes .box {
  width: 345px;
  height: 150px;
  box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.0509803922);
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 12px;
}
@media screen and (max-width: 1354px) {
  .outer-box .ai-solutions .boxes .box {
    width: 430px;
    height: 150px;
  }
}
@media screen and (max-width: 1070px) {
  .outer-box .ai-solutions .boxes .box {
    width: 530px;
    height: 150px;
  }
}
.outer-box .ai-solutions .boxes .box .upper-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.outer-box .ai-solutions .boxes .box .upper-part .logo-wrapper {
  width: 58px;
  height: 58px;
  background-color: #ffffff;
  border-bottom-right-radius: 12px;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 8px 8px 0;
}
.outer-box .ai-solutions .boxes .box .upper-part .logo-wrapper .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202323;
  width: 50px;
  height: 50px;
  border-radius: 12px;
}
.outer-box .ai-solutions .boxes .box .box-heading {
  font-size: 24px;
  font-weight: 600;
  color: #136dfb;
}
@media screen and (max-width: 780px) {
  .outer-box .ai-solutions .boxes .box .box-heading {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #136dfb;
  }
}
@media screen and (max-width: 480px) {
  .outer-box .ai-solutions .boxes .box .box-heading {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: #136dfb;
  }
}
.outer-box .ai-solutions .boxes .box .section-content {
  margin-top: 48px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #707070;
}
@media screen and (max-width: 780px) {
  .outer-box .ai-solutions .boxes .box .section-content {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #707070;
  }
}
@media screen and (max-width: 480px) {
  .outer-box .ai-solutions .boxes .box .section-content {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #707070;
  }
}
.outer-box .key-features {
  padding: 120px;
  background-color: #136dfb;
  margin: 120px 0;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(195px, 1fr));
}
@media screen and (max-width: 1210px) {
  .outer-box .key-features {
    padding: 70px;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  }
}
@media screen and (max-width: 980px) {
  .outer-box .key-features {
    padding: 50px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    margin: 60px 0;
  }
}
@media screen and (max-width: 580px) {
  .outer-box .key-features {
    padding: 15px;
    gap: 15px;
  }
}
.outer-box .key-features p {
  margin: 0;
  font-size: 48px;
  line-height: 55px;
  font-weight: 300;
  color: #ffffff;
}
.outer-box .key-features p span {
  font-size: 48px;
  line-height: 55px;
  font-weight: 600;
  color: #ffffff;
}
@media screen and (max-width: 1094px) {
  .outer-box .key-features p span {
    font-size: 42px;
    line-height: 50px;
    font-weight: 600;
    color: #ffffff;
  }
}
@media screen and (max-width: 768px) {
  .outer-box .key-features p span {
    font-size: 34px;
    line-height: 45px;
    font-weight: 600;
    color: #ffffff;
  }
}
@media screen and (max-width: 580px) {
  .outer-box .key-features p span {
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    color: #ffffff;
  }
}
@media screen and (max-width: 1094px) {
  .outer-box .key-features p {
    font-size: 42px;
    line-height: 50px;
    font-weight: 300;
    color: #ffffff;
  }
}
@media screen and (max-width: 768px) {
  .outer-box .key-features p {
    font-size: 34px;
    line-height: 45px;
    font-weight: 300;
    color: #ffffff;
  }
}
@media screen and (max-width: 580px) {
  .outer-box .key-features p {
    font-size: 22px;
    line-height: 32px;
    font-weight: 300;
    color: #ffffff;
  }
}
.outer-box .key-features .divs {
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 16px;
  padding: 28px;
}
.outer-box .key-features .divs .upper-div {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.outer-box .key-features .divs .upper-div .img-div {
  background-color: #f2416b;
  box-shadow: 0px 10px 60px 0px rgba(242, 65, 107, 0.4);
  border-radius: 16px;
  padding: 11px;
}
.outer-box .key-features .divs .upper-div h1 {
  font-size: 80px;
  line-height: 120px;
  font-weight: 900;
  color: #f2f7ff;
  margin: 0;
  position: absolute;
  top: -30px;
  right: 0;
}
.outer-box .key-features .divs h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: #202323;
  margin-top: 15px;
  margin-bottom: 5px;
}
@media screen and (max-width: 780px) {
  .outer-box .key-features .divs h3 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #202323;
  }
}
@media screen and (max-width: 480px) {
  .outer-box .key-features .divs h3 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: #202323;
  }
}
.outer-box .key-features .divs p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #707070;
}
@media screen and (max-width: 780px) {
  .outer-box .key-features .divs p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #707070;
  }
}
@media screen and (max-width: 480px) {
  .outer-box .key-features .divs p {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: #707070;
  }
}
.outer-box .key-features .div2 .upper-div .img-div,
.outer-box .key-features .div3 .upper-div .img-div {
  background-color: #bb64ff;
  box-shadow: 0px 10px 60px 0px rgba(187, 100, 255, 0.4);
}
.outer-box .key-features .div4 .upper-div .img-div {
  background-color: #eb7500;
  box-shadow: 0px 10px 60px 0px rgba(235, 117, 0, 0.4);
}
.outer-box .key-features .div5 .upper-div .img-div {
  background-color: #136dfb;
  box-shadow: 0px 10px 60px 0px rgba(19, 109, 251, 0.4);
}
.outer-box .vision-to-life {
  background-image: url("../assets/images/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background-position: right;
  padding: 0 90px;
  height: 460px;
  border-radius: 30px;
  margin-bottom: 120px;
  border: 1px solid #E8E8E8;
}
@media screen and (max-width: 1720px) {
  .outer-box .vision-to-life {
    height: 380px;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1440px) {
  .outer-box .vision-to-life .section-heading {
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
    color: #202323;
  }
}
@media screen and (max-width: 1440px) and (max-width: 1354px) {
  .outer-box .vision-to-life .section-heading {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    color: #202323;
  }
}
@media screen and (max-width: 1440px) and (max-width: 1070px) {
  .outer-box .vision-to-life .section-heading {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    color: #202323;
  }
}
.outer-box .vision-to-life .content {
  width: 838px;
}
.outer-box .vision-to-life .content .vision {
  color: #F2416B;
}
.outer-box .vision-to-life .content .start {
  color: #136dfb;
}
.outer-box .remarkable-benefits-wrapper {
  margin-bottom: 120px;
}
.outer-box .remarkable-benefits-wrapper .section-title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: #136dfb;
  text-transform: uppercase;
}
@media screen and (max-width: 1354px) {
  .outer-box .remarkable-benefits-wrapper .section-title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #136dfb;
  }
}
@media screen and (max-width: 1070px) {
  .outer-box .remarkable-benefits-wrapper .section-title {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #136dfb;
  }
}
.outer-box .remarkable-benefits-wrapper .section-heading {
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
  color: #202323;
}
@media screen and (max-width: 1354px) {
  .outer-box .remarkable-benefits-wrapper .section-heading {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    color: #202323;
  }
}
@media screen and (max-width: 1070px) {
  .outer-box .remarkable-benefits-wrapper .section-heading {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    color: #202323;
  }
}
.outer-box .remarkable-benefits-wrapper .main-content {
  width: 70%;
  margin-top: 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #707070;
}
@media screen and (max-width: 1354px) {
  .outer-box .remarkable-benefits-wrapper .main-content {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #707070;
    width: 80%;
  }
}
@media screen and (max-width: 1070px) {
  .outer-box .remarkable-benefits-wrapper .main-content {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #707070;
    width: 90%;
  }
}
.outer-box .remarkable-benefits-wrapper .boxes-wrapper {
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 46px;
  margin-top: 40px;
  width: 92%;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .outer-box .remarkable-benefits-wrapper .boxes-wrapper {
    width: 100%;
  }
}
.outer-box .remarkable-benefits-wrapper .boxes-wrapper .box {
  width: 358px;
  height: auto;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.0509803922);
  border: 1px solid #E8E8E8;
}
@media screen and (max-width: 1354px) {
  .outer-box .remarkable-benefits-wrapper .boxes-wrapper .box {
    width: 430px;
    height: auto;
  }
}
@media screen and (max-width: 1070px) {
  .outer-box .remarkable-benefits-wrapper .boxes-wrapper .box {
    width: 530px;
    height: auto;
  }
}
.outer-box .remarkable-benefits-wrapper .boxes-wrapper .box .upper-part {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  position: relative;
}
.outer-box .remarkable-benefits-wrapper .boxes-wrapper .box .upper-part .logo {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  position: absolute;
  top: -51px;
}
.outer-box .remarkable-benefits-wrapper .boxes-wrapper .box .upper-part .logo.logo-1 {
  background-color: #136DFB;
  box-shadow: 0px 10px 60px 0px rgba(19, 109, 251, 0.4);
}
.outer-box .remarkable-benefits-wrapper .boxes-wrapper .box .upper-part .logo.logo-2 {
  background-color: #EB7500;
  box-shadow: 0px 10px 60px 0px rgba(235, 117, 0, 0.4);
}
.outer-box .remarkable-benefits-wrapper .boxes-wrapper .box .upper-part .logo.logo-3 {
  background-color: #BB64FF;
  box-shadow: 0px 10px 60px 0px rgba(187, 100, 255, 0.4);
}
.outer-box .remarkable-benefits-wrapper .boxes-wrapper .box .upper-part .logo.logo-4 {
  background-color: #F2416B;
  box-shadow: 0px 10px 60px 0px rgba(242, 65, 107, 0.4);
}
.outer-box .remarkable-benefits-wrapper .boxes-wrapper .box .upper-part .logo.logo-5 {
  background-color: #BB64FF;
  box-shadow: 0px 10px 60px 0px rgba(187, 100, 255, 0.4);
}
.outer-box .remarkable-benefits-wrapper .boxes-wrapper .box .upper-part .logo.logo-6 {
  background-color: #F2416B;
  box-shadow: 0px 10px 60px 0px rgba(242, 65, 107, 0.4);
}
.outer-box .remarkable-benefits-wrapper .boxes-wrapper .box .upper-part .logo.logo-7 {
  background-color: #136DFB;
  box-shadow: 0px 10px 60px 0px rgba(19, 109, 251, 0.4);
}
.outer-box .remarkable-benefits-wrapper .boxes-wrapper .box .upper-part .logo.logo-8 {
  background-color: #EB7500;
  box-shadow: 0px 10px 60px 0px rgba(235, 117, 0, 0.4);
}
.outer-box .remarkable-benefits-wrapper .boxes-wrapper .box .upper-part .box-heading {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #202323;
}
@media screen and (max-width: 1354px) {
  .outer-box .remarkable-benefits-wrapper .boxes-wrapper .box .upper-part .box-heading {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #202323;
  }
}
@media screen and (max-width: 1070px) {
  .outer-box .remarkable-benefits-wrapper .boxes-wrapper .box .upper-part .box-heading {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: #202323;
  }
}
.outer-box .remarkable-benefits-wrapper .boxes-wrapper .box .section-content {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #707070;
}
@media screen and (max-width: 480px) {
  .outer-box .remarkable-benefits-wrapper .boxes-wrapper .box .section-content {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #707070;
  }
}/*# sourceMappingURL=product-development.css.map */