@import "./foundation.scss";
@import "./mixins.scss";

* {
    font-family: "Poppins", sans-serif;
}

.primary-button {
    @include btn(48, 20, 24, $primary-color);
    @include typography(16, 24, 500, $secondry-color);
    transition: all 0.3s ease;
    @include max-width(1200) {
      height: 42px;
      font-size: 14px;
    }
    box-shadow: $primary-box-shadow;
    &:hover {
      box-shadow: $primary-box-shadow;
      background-color: $primary-hover-color;
    }
}

.outer-box{

    /********************** banner **********************/
    .ui-banner{
        .ui-banner-blur-circle{
            background-color: $primary-color;
            filter: blur(195px);
            @include dimensions(325,325);
            @include absolute(225,na,na,50%);
            transform: translateX(-50%);
        }
        .banner-girl-image{
            @include absolute(135,na,na,50%);
            transform: translateX(-50%);
        }
        .user-box{
            border-radius: 8px;
            border: 1px solid #136DFB0D;
            backdrop-filter: blur(150px);
            box-shadow: 0px 30px 60px 0px #00000033;
            background: linear-gradient(178.83deg, rgba(255, 255, 255, 0.6) 2.73%, rgba(249, 249, 249, 0.6) 97.04%);
            @include flex-box(row,center,center,na,10);
            &.user-interface{
                @include absolute(325,na,na,500);
            }
            &.user-exp{
                @include absolute(120,570,na,na);
            }
            .icon{
                @include dimensions(47,47);
                @include flex-box(na,center,center,na,na);
                background-color: $primary-color;
                border-radius: 8px;
            }
            span{
                @include typography(16,24,600,$primary-text-color);
            }
        }
        .line-design{
            @include flex-box(column,center,center,na,15);
            &.guided{
                @include absolute(80,-70,na,na);
                .guided-line{
                    top: 85px;
                    right: 43px;                
                }
            }
            &.effective-nav{
                @include absolute(165,na,na,-75);
                .nav-line{
                    top: 80px;
                    left: 80px;
                }
            }
            span{
                @include typography(16,24,600,#D9D9D9);
            }
            .logo-box{
                border: 1px solid #E5E6E8;
                @include flex-box(na,center,center,na,na);
                @include dimensions(61,61);
                border-radius: 12px;
                backdrop-filter: blur(10px);
                background: linear-gradient(178.83deg, rgba(255, 255, 255, 0.6) 2.73%, rgba(249, 249, 249, 0.6) 97.04%);
            }
        }
        .ui-banner-details{
            background: linear-gradient(178.83deg, rgba(255, 255, 255, 0.6) 2.73%, rgba(249, 249, 249, 0.6) 97.04%);
            @include dimensions(460,100%);
            @include flex-box(column,center,center,na,na);
            @include absolute(na,0,0,0);
            backdrop-filter: blur(30px);
            .banner-heading{
                width: 1240px;
                margin-bottom: 16px;
                @include typography(60,86.7,700,$primary-text-color);
            }
            .banner-content{
                width: 649px;
                margin-bottom: 28px;
                @include typography(16,24,500,$secondry-text-color);
            }
        }
    }

}